<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心-通讯录</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" language="javascript" type="text/javascript"></script>
<script src="js/jquery-1.7.min.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript" src="js/jslayer.js" ></script>
<script>
	var psc_url = '';
	function setCurrent(a,b){;}
</script>
</head>
<body>
<div class="hder">
  <div class="hder_top">
    <div class="hder_l">
      <a href="#" title="上海交通大学" class="fl" style="margin-right:10px; display:inline;">
        <img src="images/logo.png" width="303" height="48">
      </a>
      <span class="fl">
        学生系统
      </span>
    </div>
    <div class="hder_r">
      <p>
          欢迎 <span>李晓京</span>，今天是：<span>2014年4月12日</span> |
          <a href="#">安全退出</a>   
      </p>
    </div>
  </div>
  <div class="hder_nav">
  	<div class="nav">
 <table class="f4 nav_table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div class="nav_list"><a class="nav_a" href="#">首页</a></div></td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">我的课程</a>
     <ul class="nav_ul2">
      <li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">培养计划</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2 nav_carent">我的课表</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">MBA选课</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">课程/学籍申请调整</li>
     </ul>
    </div>
    </td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">我的事务</a>
     <ul class="nav_ul2">
      <li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">二级导航</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">二级导航</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">二级导航</a></li>
     </ul>
    </div>
    </td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">活动预告</a>
     <ul class="nav_ul2">
      <li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">二级导航</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">二级导航</a></li>
      <li class="nav_li2"><a href="#" class="nav_a2">二级导航</a></li>
     </ul>
    </div>
    </td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">常用文档</a></div>
    </td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">个人中心</a></div>
    </td>
  </tr>
 </table>
</div>
<script src="js/public.js" language="javascript" type="text/javascript"></script>
  </div>
</div>

<!--TODO : startCopy-->

<script type="text/javascript">

	function fastbind(){
	  	$(".select").each(function(){
			var s=$(this);
			var z=parseInt(s.css("z-index"));
			var dt=$(this).children("dt");
			var dd=$(this).children("dd");
			var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};
			var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};
			dt.click(function(){dd.is(":hidden")?_show():_hide();});
			dd.find("a").click(function(){dt.html($(this).html());_hide();});
			$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
		});
	}
	
</script>

<script type="text/javascript" src="js/angular.min.js" ></script>
<!--[if lte IE 8]>
    <script type="text/javascript" src="js/json3.min.js" ></script>
    <script>
	    document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
	</script>
<![endif]-->

<div class="s_main">
  
  <!--left menu-->
  <div id="left_div_id" style="display: none;">
	<script>$("#left_div_id").load("/mbastu/_menu/menu_1086.html",function(){setCurrent('通讯录');});</script>
  </div>
  
  <div class="s_main_r address_qz" id='ng-app' ng-app='AddressBookApp'>
	<div class="address" ng-controller='AddressBookController'>
      <div class="crumbs address_top">
      	<p>
          <a href="#" title="">首页</a>
           > 
          <a href="#" title="">个人中心</a>
           > 
          <a href="#" title="" class="crumbs_bg">通讯录</a>
      	</p>
      </div>
      <div class="address_seach">
        <div class="address_seach_top">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="101" height="36" align="right">姓名</td>
                <td width="15">&nbsp;</td>
                <td width="162">
                  <input type="text" name="" ng-model='filterObject.studentName' class="address_ipt">
                </td>
                <td width="137" align="right">公司名称</td>
                <td width="15">&nbsp;</td>
                <td width="162">
                  <input type="text" name="" ng-model="filterObject.companyName" class="address_ipt">
                </td>
                <td width="157" align="right">公司经营范围</td>
                <td width="15">&nbsp;</td>
                <td>
                  <input type="text" name="" ng-model="filterObject.companyScope" class="address_ipt">
                </td>
                <td width="74">&nbsp;</td>
              </tr>
              <tr>
                <td height="36" align="right">国籍</td>
                <td>&nbsp;</td>
                <td>
                  <input type="text" name="" ng-model="filterObject.nationality" class="address_ipt">
                </td>
                
                <td align="right">常驻城市</td>
                <td>&nbsp;</td>
                <td>
                  <input type="text" name="" ng-model="filterObject.city" class="address_ipt">
                </td>
                <td align="right">公司性质</td>
                <td width="16">&nbsp;</td>
                <td>
                  <dl class="select">
                    <dt id='companyNature' ng-bind='filterObject.companyNature' style="background-position-x: 135px;"></dt>
                    <dd style="width: 160px;">
                        <ul style="width: 156px;">
                        	<li ng-repeat='natureType in natureTypeOptions' on-finish-render-filters><a href>{{natureType}}</a></li>
                        </ul>
                    </dd>
                </dl>
                </td>
                <td>&nbsp;</td>
              </tr>
              
            </table>

        </div>
        <div class="address_seach_ss">          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="116"></td>
              <td width="112">
                <label>
                <input type="radio" name="RadioGroup1" value="1" ng-model='filterObject.studentType' id="RadioGroup1_0">
                本班同学</label>
              </td>
              <td width="112">
                <label>
                <input type="radio" name="RadioGroup1" value="2" ng-model='filterObject.studentType' id="RadioGroup1_1">
                本年级同学</label>
              </td>
              <td width="112">
                <label>
                <input type="radio" name="RadioGroup1" value="3" ng-model='filterObject.studentType' id="RadioGroup1_2">
                所有在校生</label>
              </td>
              <td width="410">&nbsp;</td>
              <td><a href title="" class="address_seach_ss_an" ng-click='search();' >搜索</a></td>
            </tr>
          </table>
        </div>
        <style>
        	#addressResultTable td {
        		padding: 2px;
        		word-break: break-all;
        		word-wrap: break-word;
        	}
        </style>
        <div class="address_seach_biaog" style="min-height: 300px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id='addressResultTable' style="display: none;">
            <tr>
              <td style="width: 58px;" height="20">姓名</td>
              <td style="width: 38px;">班级</td>
              <td style="width: 96px;">手机</td>
              <td style="width: 87px;">电子邮箱</td>
              <td style="width: 42px;">国籍</td>
              <td style="width: 57px;">常驻城市</td>
              <td style="width: 88px;">公司名称</td>
              <td style="width: 42px;">部门</td>
              <td style="width: 27px;">职务</td>
              <td style="width: 58px;">公司性质</td>
              <td style="width: 90px;">公司经营范围</td>
            </tr>
            <!-- it's ok not to use ng-bind , onready the page show no rows of student ! -->
            <tr dir-paginate="student in studentList | itemsPerPage: pageSize" current-page="currentPage" total-items="totalStudentNumber">
              <td style="width: 58px;" ng-bind-html='student.studentName | checkTdEmpty' height="50"></td>
              <td style="width: 38px;" ng-bind-html='student.className | checkTdEmpty'></td>
              <td style="width: 96px;" ng-bind-html='student.phone | checkTdEmpty'></td>
              <td style="width: 87px;" ng-bind-html='student.email | checkTdEmpty'></td>
              <td style="width: 42px;" ng-bind-html='student.nationality | checkTdEmpty'></td>
              <td style="width: 57px;" ng-bind-html='student.city | checkTdEmpty'></td>
              <td style="width: 88px;" ng-bind-html='student.companyName | checkTdEmpty'></td>
              <td style="width: 42px;" ng-bind-html='student.department | checkTdEmpty'></td>
              <td style="width: 27px;" ng-bind-html='student.job | checkTdEmpty'></td>
              <td style="width: 58px;" ng-bind-html='student.companyNature | checkTdEmpty'></td>
              <td style="width: 90px;" ng-bind-html='student.companyScope | checkTdEmpty'></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="notic_fanye">
      	<div dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/dirPagination.tpl.html"></div>
      </div>
    </div>
  </div>
  
  
  <script>
  		var natureTypeOptions = [
			'国有或国有控股','外商合资','外商独资','港澳台合资',
			'港澳台独资','民营或私有控股','政府部门','事业单位','非营利机构','其他'
		];
  		var test_local = false;
  		var fakeObject = {
  			currentPageNumber: 1,
  			totalPageNumber: 11,
  			studentList: [{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu Zhe", className: "Xue Qian Ban(Zhong Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Front"
  			},{
  				studentName: "Liu She", className: "Xue Qian Ban(Xiao Ban)", phone: 12333333333, email: "liuzhe@tz.com",
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Waiter", job: "Ku Bi"
  			},{
  				studentName: "Liu Te", className: "Xue Qian Ban(Da Ban)", phone: 12333333333, email: "liuzhe@tz.com", 
  				nationality: "china", city: "beijing", companyName: "Tz", department: "Tech.", job: "Niu Bi", companyNature: "Limited Cop."
  			},{
  				studentName: "Liu Re", className: "Xue Qian Ban(Chao Ren Ban)", phone: 12333333333, email: "liuzhe@tz.com", 
  				nationality: "china", city: "beijing", companyName: "Tz", department: "IT", job: "Dou Bi", companyNature: "UnLimited", companyScope: "ITITs"
  			},{
  				studentName: "Liu Me", className: "Xue Qian Ban(Xiao Er Ban)", phone: 12333333333, email: "liuzhe@tz.com", 
  				nationality: "china", city: "beijing", companyName: "Tz", department: "HR"
  			}]
  		};
  		var loadingWidget;
		
  		var AddressBookAppModule = angular.module('AddressBookApp', []).filter('checkTdEmpty', function(){
		return function(input){
			if (angular.isString(input) && !(angular.equals(input, null) || angular.equals(input,''))){
				return input;
			} else {
				return '&nbsp;';
			}
		};
	}).filter('to_trusted',['$sce',function($sce){
		return function(text){return $sce.trustAsHtml(text);};
	}]).config(function($sceProvider) {
			$sceProvider.enabled(false);
		}).directive('onFinishRenderFilters', function($timeout){
			return {
				restrict: 'A',
				link: function(scope, element, attr){
					if (scope.$last === true){
						$timeout(function(){
							scope.$emit('ngRepeatFinished');
						});
					}
				}
			};
		});
		
		AddressBookAppModule.factory('AddressBookInterface', function($http){
			var _ = {};
			/* filterObject should have studentPerPage, pageNumber, orderBy */
			_.getAdrressBookByPage = function(filterObject, callback){
				if (!isValidParameter(filterObject)) {
					callback(null);
					return;
				}
				
				$http.post(psc_url + 'WEBLIB_MBA_STU.TZ_MBA_STU_CONLIST.FieldFormula.IScript_getConList?' + ($.param(filterObject)),{params: {}
				}).success(function(data,status,headers,config){
					if (test_local ){
						/* 测试时候的模拟 */
						var fo = $.extend(true, {}, fakeObject);
						var pn = filterObject.pageNumber;
						if (!pn || pn <= 0) pn = 1;
						fo.studentList = fo.studentList.slice(pn-1,pn);
						callback(fo);
					} else {
						callback(data);
					}
				}).error(function(data,status,headers,config){
					if (test_local ){
						/* 测试时候的模拟 */
						var fo = $.extend(true, {}, fakeObject);
						var pn = filterObject.pageNumber;
						if (!pn || pn <= 0) pn = 1;
						fo.studentList = fo.studentList.slice(pn-1,pn);
						callback(fo);
					} else {
						callback(null);
					}
				});
			};
			function isValidParameter(filterObject){
				var valid = true;
				if (!filterObject) return false;
				if (!filterObject.studentPerPage || typeof(filterObject.studentPerPage) != "number" || filterObject.studentPerPage < 1 || filterObject.studentPerPage > 20) filterObject.studentPerPage = 10;
				if (!filterObject.pageNumber || typeof(filterObject.pageNumber) != "number" || filterObject.pageNumber < 1) filterObject.pageNumber = 1;
				if (!filterObject.orderBy) filterObject.orderBy = 1; /*  无orderBy  */
				if (!filterObject.studentType) filterObject.studentType = 1; /* 本班同学 */
				return valid;
			};
			return _;
		});
		
		AddressBookAppModule.controller(
			'AddressBookController',
			function($scope, AddressBookInterface){
				
				/* 当前页码 每页数据量 总数据量（设置为0 否则他自动载入） */
				$scope.currentPage = 1;
				$scope.pageSize = 12;
				if (test_local) $scope.pageSize = 1;
				$scope.totalStudentNumber = 0;
				$scope.natureTypeOptions = natureTypeOptions;
				
				/* filter object */
				var defaultFilterObject = {
					studentName : '',
					companyName : '',
					companyScope : '',
					nationality : '',
					city : '',
					companyNature : '',
					studentType : 3,
					studentPerPage : $scope.pageSize,
					pageNumber : 1,
					orderBy : 0
				};
				
				var filterObject = $.extend(true, {}, defaultFilterObject);
				$scope.filterObject = filterObject;
				
				/* by default : studentList is empty */
				var studentList = [];
				$scope.studentList = studentList;
				
				
				function fillin(){
					$scope.filterObject.companyNature = $("#companyNature").text();
				};
				
				function getResultsPage(num){
					loadingWidget = layer.load('获取数据中..');
					layer.area(loadingWidget);
					if (num < 1) num = 1;
					fillin();
					$scope.filterObject.pageNumber = num;
					/* $scope.filterObject is changed by the interface !!! And it's ok ! */
					AddressBookInterface.getAdrressBookByPage($scope.filterObject, function(data){
						if (data){
							$scope.studentList = data.studentList;
							$scope.totalStudentNumber = data.totalPageNumber * $scope.pageSize;
						}
						layer.closeAll();
						$("#addressResultTable").css("display","inline-table");
					});
				};
				
				$scope.pageChangeHandler = function(num) {
					if (test_local) {
						setTimeout(function(){getResultsPage(num);},2000);
					} else {
						getResultsPage(num);
					}
				};
				
				$scope.search = function(){
					getResultsPage(1);
				};
				
				$scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
					fastbind();
				});
				
			}
		);
		var moduleName = 'AddressBookApp';
  </script>
  <script type="text/javascript" src="js/dirPagination.js" ></script>

  <div class="clear"></div>
</div>

<!--TODO : endCopy-->


<div class="dialog_pop" id="imgBox" style="display:none;">
    <div class="ctstab_mar">
      <table width="326" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="11" height="40">&nbsp;</td>
        <td width="78" align="right">课程名:</td>
        <td width="22">&nbsp;</td>
        <td width="198">哲学与人生</td>
        <td width="17">&nbsp;</td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
        <td align="right">投点数:</td>
        <td>&nbsp;</td>
        <td><input type="text" value="" class="ctstab_mar_ipt"></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="60">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
        <div class="easyDialog_footer">
            <a href="#" id="btnClose" class="dialog_an_l" onclick="easyDialog.close();">确定</a>
            <a href="#" id="btnClose" class="dialog_an_r" onclick="easyDialog.close();">取消</a>
        </div> 
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </div>
</div>
<div class="dialog_pop" id="imgBox2" style="display:none;">
    <div class="ctstab_mar">
      <table width="326" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="11" height="40">&nbsp;</td>
        <td width="78" align="right">课程名:</td>
        <td width="22">&nbsp;</td>
        <td width="198">哲学与人生</td>
        <td width="17">&nbsp;</td>
      </tr>
      <tr>
        <td height="40">&nbsp;</td>
        <td align="right">投点数:</td>
        <td>&nbsp;</td>
        <td><input type="text" value="200" class="ctstab_mar_ipt2"></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="60">&nbsp;</td>
        <td colspan="4">
          <div class="easyDialog_footer dialog_an">
            <a href="#" id="btnClose" class="dialog_an_l" onclick="easyDialog.close();">确定</a>
            <a href="#" id="btnClose" class="dialog_an_r" onclick="easyDialog.close();">返回</a>
            <a href="#" id="btnClose" class="dialog_an_r" onclick="easyDialog.close();">撤销</a>
          </div>        
        </td>
        </tr>
    </table>
    </div>
</div>

<div class="footer">
	<div class="ft_box">
      <div class="ft_box_l">
        <h2>帮助中心:</h2>
        <p class="bzzx"><a href="#" title="" class="bzzx1">可以注册多个账号么？</a>/ <a href="#" title="">填写信息需要使用中文还是英文？ </a>/ <a href="#" title="">密码忘记后如何找回？ </a>/ <a href="#" title="">系统显示乱码或出错怎么办？</a></p>
        <div class="ft_list">
          <ul>
            <li style="margin-left:-8px;"><a href="#" title="">关羽安泰</a></li>
            <li><a href="#" title="">网站地图</a></li>
            <li><a href="#" title="">友情链接</a></li>
            <li><a href="#" title="">帮助中心</a></li>
            <li style="background:none;"><a href="#" title="">联系我们</a></li>
          </ul>
          <a href="#" title="" class="ft_box_r">
            <img src="images/login_5.jpg" width="238" height="50">
          </a>
        </div>
        <p class="bqsy">Copyright 2011-2014 © 上海交通大学安泰经济与管理学院</p>
      </div>
      <div class="clear"></div>
    </div>
</div>
</body>
</html>
