<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>个人中心-信息修改</title>
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery.js" language="javascript" type="text/javascript"></script>
		<script src="js/jquery-1.7.min.js" language="javascript" type="text/javascript"></script>
		
	</head>

	<body>
		<div class="hder">
			<div class="hder_top">
				<div class="hder_l">
					<a href title="上海交通大学" class="fl" style="margin-right:10px; display:inline;">
						<img src="images/logo.png" width="303" height="48">
					</a>
					<span class="fl">学生系统</span>
				</div>
				<div class="hder_r">
					<p>
						欢迎 <span>李晓京</span>，今天是：<span>2014年4月12日</span> |
						<a href>安全退出</a> 
					</p>
				</div>
			</div>
			<div class="hder_nav">
				<div class="nav">
					<table class="f4 nav_table" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<div class="nav_list"><a class="nav_a" href>首页</a>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href>我的课程</a>
									<ul class="nav_ul2">
										<li class="nav_li2" style="border:none;"><a href class="nav_a2">培养计划</a></li>
										<li class="nav_li2"><a href class="nav_a2 nav_carent">我的课表</a></li>
										<li class="nav_li2"><a href class="nav_a2">MBA选课</a></li>
										<li class="nav_li2"><a href class="nav_a2">课程/学籍申请调整</li>
									</ul>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href>我的事务</a>
									<ul class="nav_ul2">
										<li class="nav_li2" style="border:none;"><a href class="nav_a2">二级导航</a></li>
										<li class="nav_li2"><a href class="nav_a2">二级导航</a></li>
										<li class="nav_li2"><a href class="nav_a2">二级导航</a></li>
									</ul>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href>活动预告</a>
									<ul class="nav_ul2">
										<li class="nav_li2" style="border:none;"><a href class="nav_a2">二级导航</a></li>
										<li class="nav_li2"><a href class="nav_a2">二级导航</a></li>
										<li class="nav_li2"><a href class="nav_a2">二级导航</a></li>
									</ul>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href>常用文档</a></div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href>个人中心</a></div>
							</td>
						</tr>
					</table>
				</div>
				<script src="js/public.js" language="javascript" type="text/javascript"></script>
			</div>
		</div>

		<!--TODO : startCopy-->

		<script type="text/javascript" src="js/angular.min.js" ></script>
		<script type="text/javascript">
			function show(num){
			 	var lis = document.getElementById('yq_xxk').getElementsByTagName('li');
				for(i=0;i<lis.length;i++){
					lis[i].className = '';
					document.getElementById('con'+(i+1)).style.display = 'none';
				}
				
				document.getElementById('tit'+num).className = 'current';
				document.getElementById('con'+num).style.display = 'block';
			 }
		</script>
		<script type="text/javascript">
			$(function(){
				/*============================
				@author:flc
				@time:2014-02-11 18:16:09
				@qq:3407725
				============================*/
				$(".select_two").each(function(){
					var s=$(this);
					var z=parseInt(s.css("z-index"));
					var dt=$(this).children("dt");
					var dd=$(this).children("dd");
					var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};
					var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);}; 
					dt.click(function(){dd.is(":hidden")?_show():_hide();});
					dd.find("a").click(function(){dt.html($(this).html());_hide();});
					/*dd.find("a").click(function(){dt.find("input").val($(this).text());_hide();});*/
					$("body").click(function(i){ !$(i.target).parents(".select_two").first().is(s) ? _hide():"";});
				})
			})
		</script>
		
		<script type="text/javascript">
			$(function(){
				/*============================
				@author:flc
				@time:2014-02-11 18:16:09
				@qq:3407725
				============================*/
				$(".select_three").each(function(){
					var s=$(this);
					var z=parseInt(s.css("z-index"));
					var dt=$(this).children("dt");
					var dd=$(this).children("dd");
					var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};
					var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};
					dt.click(function(){dd.is(":hidden")?_show():_hide();});
					dd.find("a").click(function(){dt.html($(this).html());_hide();});
					/*dd.find("a").click(function(){dt.find("input").val($(this).text());_hide();});*/
					$("body").click(function(i){ !$(i.target).parents(".select_three").first().is(s) ? _hide():"";});
				})
			})
		</script>
		
		<!--[if lte IE 8]>
		    <script type="text/javascript" src="js/json3.min.js" ></script>
		    <script>
			    document.createElement('ng-include');
	            document.createElement('ng-pluralize');
		        document.createElement('ng-view');
		        document.createElement('ng:include');
		        document.createElement('ng:pluralize');
		        document.createElement('ng:view');
			</script>
		<![endif]-->

		<div class="s_main" id='ng-app' ng-app='PersonalInfoApp'>
			<!--left menu-->
			<div id="left_div_id">
				<script>$("#left_div_id").load("/mbastu/_menu/menu_507.html");</script>
			</div>
			
			<div class="s_main_r" ng-controller='PersonalInfoController'>
				<div class="personal">
					<h2>个人信息修改</h2>
					<div class="personal_tit">
						<div class="personal_tit_left">
							<img src="images/personal_1.jpg" width="147" height="181">	<span><img src="images/personal_2.png" width="19" height="21"></span>
						</div>
						<div class="personal_tit_right">
							<table width="556" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td height="36">姓名：<span ng-bind='PersonalInfoData.studentName'></span></td>
								</tr>
								<tr>
									<td height="36">班级：<span ng-bind='PersonalInfoData.className'></span></td>
								</tr>
								<tr>
									<td height="36">学号：<span ng-bind='PersonalInfoData.studentId'></span></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div id="yq_xxk">
					<ul>
						<li id="tit1" onclick="show(1)" class="current">
							<div class="xxk1">基本信息</div>
						</li>
						<li id="tit2" onclick="show(2)">
							<div class="xxk2">联系信息</div>
						</li>
						<li id="tit3" onclick="show(3)">
							<div class="xxk2">教育背景</div>
						</li>
						<li id="tit4" onclick="show(4)">
							<div class="xxk2">工作经历</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>

				<div id="con1" class="tem" style="display:block;" ng-controller='BasicInfoController'>
					<table width="736" border="0" cellspacing="0" cellpadding="0" class="personal_list">
						<tr>
							<td width="116" height="34" align="right">姓名</td>
							<td width="22">&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.studentName'></span></td>
							<td width="224">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">性别</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.sex'></span></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">班级</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.className'></span></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">学号</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.studentId'></span></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">国籍</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.nationality'></span></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">证件号</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.identityNo'></span></td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='identityNoScope' ng-bind='PersonalInfoData.identityNoScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="34">银行卡号</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="PersonalInfoData.bankAccountNo" class="personal_ipt">
								<span class="personal_mc"></span>
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='bankAccountNoScope' ng-bind='PersonalInfoData.bankAccountNoScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="34">开户行</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="PersonalInfoData.bankName" class="personal_ipt">
								<span class="personal_mc"></span>
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='bankNameScope' ng-bind='PersonalInfoData.bankNameScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="30">&nbsp;</td>
							<td>&nbsp;</td>
							<td align="left">&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">&nbsp;</td>
							<td>&nbsp;</td>
							<td align="left"><a href title="" class="personal_bc" ng-click='saveBasic();'>保存</a>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>

				</div>
				<div id="con2" class="tem">
					222
				</div>
				<div id="con3" class="tem" ng-controller='educationController'>
					<div class="personal_time" style="height: auto; padding: 12px;" ng-show='eduBgLst.length > 0'>
						<div class="personal_time_list" ng-repeat='eduBg in eduBgLst track by $index'>
							<span class="personal_time_left">
								<i>{{eduBg.edu_rxsj}}-{{eduBg.edu_bysj}}：</i>
								<a href title="" name="">{{eduBg.edu_byxx}}</a>|
								<a href title="" name="">{{eduBg.edu_xxzy}}</a>|
								<a href title="" name="">{{eduBg.edu_hdxl}}</a>|
								<a href title="" name="">{{eduBg.edu_hdxw}}</a>
							</span>
							<span class="personal_time_right">
								<a href title="" class="personal_time_right_an" ng-click='edit($index)' ng-show='editStateNew && !eduBg.solid'>编辑</a>
								<a href title="" class="personal_time_right_an" ng-click='remove($index);' ng-show='editStateNew && !eduBg.solid'>删除</a>
							</span>
						</div>
					</div>
					<table width="736" border="0" cellspacing="0" cellpadding="0" class="personal_list">
						<tr>
							<td width="116" height="34" align="right">入学时间</td>
							<td width="22">&nbsp;</td>
							<td align="left" width="226">
								<dl class="select_two">
									<dt id='edu_rxsj' ng-bind='editEduBg.edu_rxsj'></dt>
									<dd>
										<ul>
											<!-- <li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li> -->
											<li><a href>时</a></li>
											<li><a href>间</a></li>
											<li><a href>用</a></li>
											<li><a href>下</a></li>
											<li><a href>拉</a></li>
											<li><a href>框</a></li>
											<li><a href>？</a></li>
										</ul>
									</dd>
								</dl>
							</td>
							<td width="224">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">毕业时间</td>
							<td>&nbsp;</td>
							<td align="left">
								<dl class="select_two">
									<dt id='edu_bysj' ng-bind='editEduBg.edu_bysj'></dt>
									<dd>
										<ul>
											<!-- <li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li> -->
											<li><a href>时</a></li>
											<li><a href>间</a></li>
											<li><a href>用</a></li>
											<li><a href>下</a></li>
											<li><a href>拉</a></li>
											<li><a href>框</a></li>
											<li><a href>？</a></li>
										</ul>
									</dd>
								</dl>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">毕业院校</td>
							<td>&nbsp;</td>
							<td align="left">
								<dl class="select_two">
									<dt id='edu_byxx' ng-bind='editEduBg.edu_byxx'></dt>
									<dd>
										<ul>
											<!-- <li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li> -->
											<li><a href>毕</a></li>
											<li><a href>业</a></li>
											<li><a href>院</a></li>
											<li><a href>校</a></li>
											<li><a href>下</a></li>
											<li><a href>拉</a></li>
											<li><a href>？</a></li>
										</ul>
									</dd>
								</dl>
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='edu_byxxScope' ng-bind='editEduBg.edu_byxxScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="34">专业</td>
							<td>&nbsp;</td>
							<td align="left">
								<dl class="select_two">
									<dt id='edu_xxzy' ng-bind='editEduBg.edu_xxzy'></dt>
									<dd>
										<ul>
											<!-- <li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li> -->
											<li><a href>专</a></li>
											<li><a href>业</a></li>
											<li><a href>用</a></li>
											<li><a href>下</a></li>
											<li><a href>拉</a></li>
											<li><a href>框</a></li>
											<li><a href>？</a></li>
										</ul>
									</dd>
								</dl>
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='edu_xxzyScope' ng-bind='editEduBg.edu_xxzyScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">获得学历</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="editEduBg.edu_hdxl" class="personal_ipt" />
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='edu_hdxlScope' ng-bind='editEduBg.edu_hdxlScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="34">获得学位</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="editEduBg.edu_hdxw" class="personal_ipt" />
							</td>
							<td>&nbsp;</td>
							<td>
								<dl class="select_three" ng-show='show_visibility_options'>
									<dt id='edu_hdxwScope' ng-bind='editEduBg.edu_hdxwScope'></dt>
									<dd>
										<ul>
											<li ng-repeat='opt in scopeOptions'><a href>{{opt}}</a></li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<td align="right" height="60">&nbsp;</td>
							<td>&nbsp;</td>
							<td align="left">&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="left"><a href title="" class="personal_bc2" ng-show='!editStateNew && dataReady' ng-click='cancel()'>取消修改</a></td>
							<td></td>
							<td></td>
							<td align="left">
								<a href title="" class="personal_bc2" ng-show='editStateNew && dataReady' ng-click='add()'>添加</a>
								<a href title="" class="personal_bc2" ng-show='!editStateNew && dataReady' ng-click='confirm()'>确认修改</a>
							</td>
							<td align="left"><a href title="" class="personal_bc2" ng-show='dataReady' ng-click='saveEduBg()'>保存</a></td>
						</tr>
					</table>
				</div>
				<div id="con4" class="tem">
					4
				</div>


			</div>
			<div class="clear"></div>
		</div>
		

		<script>
			/*  构造的假数据 测试用 */
			var fakeObject = {
				studentId: '5090379149',
				studentName: 'xian xing',
				className: 'ruan gong wu ban',
				picurl: '',
				sex: 'm',
				nationality: '中国',
				identityNo: '5090379149',
				identityNoScope: '其他人不可见',
				bankAccountNo: '123456',
				bankAccountNoScope: '其他人不可见',
				bankName: 'Bank Of China',
				bankNameScope: '其他人不可见',
				
				education: [
					{
						edu_rxsj:'2005/09',
						edu_bysj:'2007/09',
						edu_byxx:'北京交通大学',edu_byxxScope:'下拉3',
						edu_xxzy:'Computer Science',edu_xxzyScope:'下拉2',
						edu_hdxl:'本科',edu_hdxlScope:'12131',
						edu_hdxw:'学士学位',edu_hdxwScope:'下拉6'
					},
					{
						edu_rxsj:'2005/09',
						edu_bysj:'2007/09',
						edu_byxx:'上海交通大学',edu_byxxScope:'下拉3',
						edu_xxzy:'Software Engineering',edu_xxzyScope:'下拉2',
						edu_hdxl:'本科',edu_hdxlScope:'12131',
						edu_hdxw:'学士学位',edu_hdxwScope:'下拉6'}
				]
			};
			/* 如果这个值为真 那么用fakeObject当做真实数据 */
			var test_local = false;
			
			var show_visibility_options = false;
			
			/* 信息项可见性选项 */
			/* TODO : 待确认，是写死的， 还是动态获取的， 还是配置的？ */
			var scopeOptions = ['其他人不可见','全班可见','全年级可见','校友可见'];
			
			/* 初始化 （包含支持IE7的代码） */
			var PersonalInfoAppModule = angular.module('PersonalInfoApp', []).config(function($sceProvider) {
				$sceProvider.enabled(false);
			});
			
			/* 获取个人信息的接口 */
			PersonalInfoAppModule.factory('PersonalInfoInterface',function($http){				
				var _ = {};
				_.getPersonalInfo = function(callback){
					var PersonalInfoData = undefined;
					/* 返回promise对象 */
					/* return $http.post('/psc/ACEMTST/....',{params:{}}); */
					$http.post('/psc/ACEMTST/EMPLOYEE/CRM/s/WEBLIB_MBA_STU.TZ_MBA_STU_HOME.FieldFormula.Iscript_getStudentInfo',{params:{}
					}).success(function(data,status,headers,config){
						callback(fakeObject);
						/* callback(data); */
					}).error(function(data,status,headers,config){
						if (test_local){
							callback(fakeObject);
						} else {
							alert('无法获取个人信息！（错误码：'+status+')');
							callback(null);
						}
					});
				};
				
				_.updateEducationBackground = function(postData,callback){
					$.ajax({
						type:"post",
						url:"/",
						async:true,
						data : postData,
						success: function(data){
							alert(data);
						},
						error: function(XMLHttpRequest, textStatus, errorThrown){
                    		alert('无法保存！（错误码：' + XMLHttpRequest.status + "）");
                   		}
					});
				};
				
				return _;
			});
			
			/* PersonalInfoController 作为父级Controller 只提供公用的数据 */
			/* 当获取数据完成后 广播dataReady事件 */
			PersonalInfoAppModule.controller(
				'PersonalInfoController',
				function ($scope, PersonalInfoInterface){
					
					$scope.show_visibility_options = show_visibility_options;
					
					PersonalInfoInterface.getPersonalInfo(function(data){
						/* 如果getPersonalInfo 失败了调用callback(null); */
						if (data){
							$scope.PersonalInfoData = data;
						}
						/* 一定要广播，有的按钮是根据这个状态控制显示状态的 */
						$scope.$broadcast('dataReady');
					});
				}
			);
			
			/* BasicInfoController 第一个页签对应的基本信息Controller */
			/* 只有一个保存功能，能更新的内容有限 */
			PersonalInfoAppModule.controller(
				'BasicInfoController',
				function ($scope){
					/**********************/
					/* configuration area */
					/**********************/
					/* @Unused */
					var defaultData = {
						identityNoScope : '全班可见',
						bankAccountNoScope : '其他人不可见',
						bankNameScope : '全班可见'	
					};
					
					$scope.$on('dataReady',function(){
						;
					});
					
					/* 保存事件 */
					$scope.saveBasic = function(){
						fillin();
						/*alert($scope.PersonalInfoData.identityNoScope); */
						var postData = $.extend(true, {}, $scope.PersonalInfoData);
						if (postData.education) delete postData.education;
						
						/* post */
						
					};
					
					$scope.scopeOptions = scopeOptions;
					
					/* 无法用ng-model做双向绑定的 select值，手动填充 */
					function fillin(){
						$scope.PersonalInfoData.identityNoScope = $("#identityNoScope").text();
						$scope.PersonalInfoData.bankAccountNoScope = $("#bankAccountNoScope").text();
						$scope.PersonalInfoData.bankNameScope = $("#bankNameScope").text();
					}
					
					/* @Unused */
					function clear(){
						$("#identityNoScope").text(defaultData.identityNoScope);
						$("#bankAccountNoScope").text(defaultData.bankAccountNoScope);
						$("#bankNameScope").text(defaultData.bankNameScope);
					}
				}
			);
			
			/* educationController 第三个页签教育背景对应的Controller */
			PersonalInfoAppModule.controller(
				'educationController',
				function ($scope, PersonalInfoInterface){
					/**********************/
					/* configuration area */
					/**********************/
					/* 默认填充数据 */
					var defaultData = { 
						edu_rxsj:'',
						edu_bysj:'',
						edu_byxx:'',edu_byxxScope:'全班可见',
						edu_xxzy:'',edu_xxzyScope:'全班可见',
						edu_hdxl:'',edu_hdxlScope:'全班可见',
						edu_hdxw:'',edu_hdxwScope:'全班可见'
					};
					
					/* eduBgLst 即PersonalInfoData.education，抽离出来单独处理 */
					var eduBgLst = {};
					/* 默认绑定空的对象 */
					$scope.eduBgLst = eduBgLst;
					/* 获取数据完成后再次绑定 */
					$scope.$on('dataReady', function(){
						if ($scope.PersonalInfoData && $scope.PersonalInfoData.education){
							eduBgLst = $scope.PersonalInfoData.education;
							/* hide edit button */
							for (var i = 0; i < eduBgLst.length; i++){
								eduBgLst[i].solid = true;
							}
							$scope.eduBgLst = eduBgLst;
						}
						/* 数据准备好了，显示添加和保存按钮（如果不等数据 直接调用保存按钮，会覆盖原有数据！） */
						$scope.dataReady = true;
					});
					
					/* 正在新建记录，对应的是正在编辑记录 */
					var editStateNew = true;
					/* 记录正在编辑的记录的index */
					var editIndex = -1;
					/* 默认值编辑区域的值 */
					var editEduBg = $.extend(true, {}, defaultData);
					
					$scope.editEduBg = editEduBg;
					$scope.editStateNew = editStateNew;
					$scope.editIndex = editIndex;
					$scope.defaultData = defaultData;
					$scope.scopeOptions = scopeOptions;
					$scope.dataReady = false;
					
					/* 无法使用ng-model的部分 手动赋值 */
					function fillin(){
						$scope.editEduBg.edu_rxsj = $("#edu_rxsj").text();
						$scope.editEduBg.edu_bysj = $("#edu_bysj").text();
						$scope.editEduBg.edu_byxx = $("#edu_byxx").text();
						$scope.editEduBg.edu_xxzy = $("#edu_xxzy").text();
						
						$scope.editEduBg.edu_byxxScope = $("#edu_byxxScope").text();
						$scope.editEduBg.edu_xxzyScope = $("#edu_xxzyScope").text();
						$scope.editEduBg.edu_hdxlScope = $("#edu_hdxlScope").text();
						$scope.editEduBg.edu_hdxwScope = $("#edu_hdxwScope").text();
						
						/* 必须的区域目前也需要 手动判断，因为没有form元素 也不是用submit做的提交 */
						/* TODO : 确认必填项目 */
						if ($scope.editEduBg.edu_rxsj == '' ||
							$scope.editEduBg.edu_bysj == '' ||
							$scope.editEduBg.edu_byxx == ''){
							alert('请填写入学时间、毕业时间、毕业院校等信息！');
							return false; 
						}
							
						return true;
					}
					
					/* 情况编辑区域，设置为默认值 */
					function clear(){
						$scope.editEduBg = $.extend(true, {}, $scope.defaultData);
						
						$("#edu_rxsj").text($scope.editEduBg.edu_rxsj);
						$("#edu_bysj").text($scope.editEduBg.edu_bysj);
						$("#edu_byxx").text($scope.editEduBg.edu_byxx);
						$("#edu_xxzy").text($scope.editEduBg.edu_xxzy);
						
						$("#edu_byxxScope").text($scope.editEduBg.edu_byxxScope);
						$("#edu_xxzyScope").text($scope.editEduBg.edu_xxzyScope);
						$("#edu_hdxlScope").text($scope.editEduBg.edu_hdxlScope);
						$("#edu_hdxwScope").text($scope.editEduBg.edu_hdxwScope);
						
						$scope.editIndex = -1;
						$scope.editStateNew = true;
					}
					
					function packUp(packedUp, currentObj, num){
						/*
						edu_rxsj:'',TZ_ADMISSN_DT
						edu_bysj:'',TZ_UDRGRD_DT
						edu_byxx:'',TZ_SCH_CNAME
						edu_xxzy:'',TZ_SPECIALTY
						edu_hdxl:'',TZ_OBT_EDUC
						edu_hdxw:'',TZ_OBT_DEGR
						*/
						packedUp["TZ_ADMISSN_DT_"+num] = currentObj.edu_rxsj + "/01";
						packedUp["TZ_UDRGRD_DT_"+num] = currentObj.edu_bysj + "/01";
						packedUp["TZ_SCH_CNAME_"+num] = currentObj.edu_byxx;
						packedUp["TZ_SPECIALTY_"+num] = currentObj.edu_xxzy;
						packedUp["TZ_OBT_EDUC_"+num] = currentObj.edu_hdxl;
						packedUp["TZ_OBT_DEGR_"+num] = currentObj.edu_hdxw;
					}
					
					/* 添加一条 */
					$scope.add = function(){
						if (cannot(fillin())){
							return ;
						}
						var clonedEduBg = $.extend(true, {}, $scope.editEduBg);
						/* show edit button */
						clonedEduBg.solid = false;
						
						var len = $scope.eduBgLst.length;
						$scope.eduBgLst.push(clonedEduBg);
						
						clear();
					};
					
					/* 删除 */
					$scope.remove = function(index){
						$scope.eduBgLst.splice(index,1);
						clear();
					};
					
					/* 编辑 */
					$scope.edit = function(index){
						var clonedEduBg = $.extend(true, {}, $scope.eduBgLst[index]);
						$scope.editEduBg = clonedEduBg;
						
						$scope.editIndex = index;
						$scope.editStateNew = false;
					};
					
					/* 确认修改 */
					$scope.confirm = function(){
						if (cannot(fillin())){
							return;
						}
						
						var clonedEduBg = $.extend(true, {}, $scope.editEduBg);
						$scope.eduBgLst.splice($scope.editIndex,1,clonedEduBg);
						
						clear();
					};
					
					/* 取消修改 */
					$scope.cancel = function(){
						clear();
					};
					
					/* 保存教育经历 */
					$scope.saveEduBg = function(){
						var edus = $.extend(true, {}, $scope.eduBgLst);
						var postData = {};
						var count = 0;
						while(edus[count]) packUp(postData,edus[count],++count);

						/* post */
						PersonalInfoInterface.updateEducationBackground(postData, function(){});
						
					};
					
					function cannot(val){
						return !val;
					}
					
				}
			);
		</script>
		
		<!--TODO : endCopy-->
		
		<div class="footer">
			<div class="ft_box">
				<div class="ft_box_l">
					<h2>帮助中心:</h2>
					<p class="bzzx"><a href title="" class="bzzx1">可以注册多个账号么？</a>/ <a href title="">填写信息需要使用中文还是英文？ </a>/ <a href title="">密码忘记后如何找回？ </a>/ <a href title="">系统显示乱码或出错怎么办？</a>
					</p>
					<div class="ft_list">
						<ul>
							<li style="margin-left:-8px;"><a href title="">关羽安泰</a>
							</li>
							<li><a href title="">网站地图</a>
							</li>
							<li><a href title="">友情链接</a>
							</li>
							<li><a href title="">帮助中心</a>
							</li>
							<li style="background:none;"><a href title="">联系我们</a>
							</li>
						</ul>
						<a href title="" class="ft_box_r">
							<img src="images/login_5.jpg" width="238" height="50">
						</a>
					</div>
					<p class="bqsy">Copyright 2011-2014 © 上海交通大学安泰经济与管理学院</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
	</body>

</html>
