<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>个人中心-信息修改</title>
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/easydialog.css" rel="stylesheet" type="text/css" />
		<link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script src="js/jquery-1.7.min.js" language="javascript" type="text/javascript"></script>
		<script src='js/jslayer.js'></script>
		<script>var psc_url = '';function setCurrent(a,b){;}</script>
	</head>

	<body>
		<div class="hder">
			<div class="hder_top">
				<div class="hder_l">
					<a href="#" title="上海交通大学" class="fl" style="margin-right:10px; display:inline;">
						<img src="images/logo.png" width="303" height="48">
					</a>
					<span class="fl">
        学生系统
      </span>
				</div>
				<div class="hder_r">
					<p>
						欢迎 <span>李晓京</span>，今天是：<span>2014年4月12日</span> |
						<a href="#">安全退出</a> 
					</p>
				</div>
			</div>
			<div class="hder_nav">
				<div class="nav">
					<table class="f4 nav_table" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<div class="nav_list"><a class="nav_a" href="#">首页</a>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href="#">我的课程</a>
									<ul class="nav_ul2">
										<li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">培养计划</a>
										</li>
										<li class="nav_li2"><a href="#" class="nav_a2 nav_carent">我的课表</a>
										</li>
										<li class="nav_li2"><a href="#" class="nav_a2">MBA选课</a>
										</li>
										<li class="nav_li2"><a href="#" class="nav_a2">课程/学籍申请调整</li>
     </ul>
    </div>
    </td>
    <td>
    <div class="nav_list"><a class="nav_a" href="#">我的事务</a>
											<ul class="nav_ul2">
												<li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">二级导航</a>
												</li>
												<li class="nav_li2"><a href="#" class="nav_a2">二级导航</a>
												</li>
												<li class="nav_li2"><a href="#" class="nav_a2">二级导航</a>
												</li>
											</ul>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href="#">活动预告</a>
									<ul class="nav_ul2">
										<li class="nav_li2" style="border:none;"><a href="#" class="nav_a2">二级导航</a>
										</li>
										<li class="nav_li2"><a href="#" class="nav_a2">二级导航</a>
										</li>
										<li class="nav_li2"><a href="#" class="nav_a2">二级导航</a>
										</li>
									</ul>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href="#">常用文档</a>
								</div>
							</td>
							<td>
								<div class="nav_list"><a class="nav_a" href="#">个人中心</a>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<script src="js/public.js" language="javascript" type="text/javascript"></script>
			</div>
		</div>


		<!--TODO : CopyStart-->

		<script src="js/easydialog.min.js" language="javascript" type="text/javascript"></script>
		<script type="text/javascript" src="js/jquery-ui-datepicker.js"></script>
		<script type="text/javascript" src="js/angular.min.js" ></script>
		<script src="js/jquery-ui-datepicker.js"></script>
		<script src="js/public2.js"></script> 
		<link rel="stylesheet" href="css/jquery-ui.css" />
		
		<style>
			.remove_button_hidden{display: none;}
			.select_family_disabled{}
		</style>
		
		<!--[if lte IE 8]>
		    <script type="text/javascript" src="js/json3.min.js" ></script>
		    <script>
			    document.createElement('ng-include');
	            document.createElement('ng-pluralize');
		        document.createElement('ng-view');
		        document.createElement('ng:include');
		        document.createElement('ng:pluralize');
		        document.createElement('ng:view');
			</script>
		<![endif]-->

		<!--[if lte IE 8]>
			<style>
				.ng-hide { display:none!important; }
			</style>
		<![endif]-->
		
		<div class="s_main" id='ng-app' ng-app='PersonalInfoApp'>
			<!--left menu-->
			<div id="left_div_id">
				<script>$("#left_div_id").load("/mbastu/_menu/menu_1086.html",function(){setCurrent('个人信息修改');});</script>
			</div>
			
			<div class="s_main_r" ng-controller='PersonalInfoController'>
				<div class="personal">
					<h2>个人信息修改</h2>
					<div class="personal_tit">
						<div class="personal_tit_left">
							<img ng-src="{{PersonalInfoData.picurl}}" width="147" height="181">	<span><img src="images/personal_2.png" width="19" height="21" style="display: none;"></span>
						</div>
						<div class="personal_tit_right">
							<table width="556" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td height="36">姓名：<span ng-bind='PersonalInfoData.studentName'></span>
									</td>
								</tr>
								<tr>
									<td height="36">班级：<span ng-bind='PersonalInfoData.className'></span>
									</td>
								</tr>
								<tr>
									<td height="36">
										学号：<span ng-bind='PersonalInfoData.studentId'></span>
										<em><a href title="" target="" ng-show="show_visibility_options">隐私设置</a></em>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				
				<div id="yq_xxk">
					<ul>
						<li id="tit1" onclick="showTab('yq_xxk','con','tit',1)" class="current">
							<div class="xxk1">基本信息</div>
						</li>
						<li id="tit2" onclick="showTab('yq_xxk','con','tit',2)">
							<div class="xxk2">联系信息</div>
						</li>
						<li id="tit3" onclick="showTab('yq_xxk','con','tit',3)">
							<div class="xxk2">教育背景</div>
						</li>
						<li id="tit4" onclick="showTab('yq_xxk','con','tit',4)">
							<div class="xxk2">工作经历</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>

				<div id="con1" class="tem" style="display:block;" ng-controller='BasicInfoController'>
					<table width="736" border="0" cellspacing="0" cellpadding="0" class="personal_list">
						<tr>
							<td width="116" height="50" align="right">姓名</td>
							<td width="22">&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.studentName'></span>
							</td>
							<td width="224">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">性别</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.sex'></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">班级</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.className'></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">学号</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.studentId'></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">国籍</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.nationality'></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">证件号</td>
							<td>&nbsp;</td>
							<td align="left"><span class="personal_mc" ng-bind='PersonalInfoData.identityNo'></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">银行卡号</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="PersonalInfoData.bankAccountNo" class="personal_ipt">
								<span class="personal_mc"></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="50">开户行</td>
							<td>&nbsp;</td>
							<td align="left">
								<input type="text" name="" ng-model="PersonalInfoData.bankName" class="personal_ipt">
								<span class="personal_mc"></span>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="30">&nbsp;</td>
							<td>&nbsp;</td>
							<td align="left">&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="right" height="34">&nbsp;</td>
							<td>&nbsp;</td>
							<td align="left"><a href="#" title="" class="personal_bc" ng-click='saveBasic();'>保存</a>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>

				</div>
				
				<div id="con2" class="tem" style="display:none" ng-controller='ContactController'>
					<div class="personal_time">
						<table width="738" border="0" cellspacing="0" cellpadding="0" id='addressTable'>
							<tr>
								<td width="10" height="30">&nbsp;</td>
								<td width="34">主要</td>
								<td width="17">&nbsp;</td>
								<td width="135">地址类型</td>
								<td width="10">&nbsp;</td>
								<td width="410">地址</td>
								<td width="12">&nbsp;</td>
								<td width="84">邮编</td>
								<td width="12">&nbsp;</td>
								<td width="18">
									<a href title="添加" target="" class="personal_tj" ng-click='addAddress()'></a>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							
							<tr ng-repeat='address in addressList'>
								<td height="38">&nbsp;</td>
								<td>
									<input name="address_main" class="edu_zhuyao address_main_class" type="radio">
								</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family">
					                <dt ng-bind='address.address_fs' class='address_fs_class'></dt>
					                <dd>
					                    <ul>
					                    	<li ng-repeat='addressType in addressTypeOptions'  fast-bind-select='{{$index+1}}' olength="{{addressTypeOptions.length}}"><a href>{{addressType}}</a></li>
					                    </ul>
					                </dd>
					            </dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_adress" ng-model='address.address_dz' >
								</td>


								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_yb" ng-model='address.address_yb' >
								</td>
								<td>&nbsp;</td>
								<td>
									<a href title="删除" target="" class="personal_sc " ng-click='removeAddress($index)' ></a>
								</td>
								<td></td>
							</tr>
							
						</table>

					</div>
					<div class="personal_time">
						<table width="738" border="0" cellspacing="0" cellpadding="0" id='phoneTable'>
							<tr>
								<td width="10" height="30">&nbsp;</td>
								<td width="34">主要</td>
								<td width="17">&nbsp;</td>
								<td width="135">电话类型</td>
								<td width="10">&nbsp;</td>
								<td width="138">国际电话区号</td>
								<td width="10">&nbsp;</td>
								<td width="238">电话</td>
								<td width="12">&nbsp;</td>
								<td width="108">分机号</td>
								<td width="12">&nbsp;</td>
								<td width="18">
									<a href title="添加" target="" class="personal_tj" ng-click='addPhone()'></a>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							
							<tr ng-repeat='phone in phoneList'>
								<td height="38">&nbsp;</td>
								<td>
									<input name="phone_main" type="radio" class="edu_zhuyao phone_main_class">
								</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family " >
										<dt class='phone_fs_class' ng-bind='phone.phone_fs'></dt>
										<dd>
											<ul>
												<li ng-repeat='phoneType in phoneTypeOptions' fast-bind-select='{{$index+1}}' olength="{{phoneTypeOptions.length}}"><a href>{{phoneType}}</a></li>
											</ul>
										</dd>
									</dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_phone_one" ng-model='phone.phone_qh' >
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_phone_two" ng-model='phone.phone_dh'>
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_fjh" ng-model='phone.phone_fjh' >
								</td>
								<td>&nbsp;</td>
								<td>
									<a href title="删除" target="" class="personal_sc " ng-click='removePhone($index)'></a>
								</td>
								<td></td>
							</tr>
						</table>

					</div>
					<div class="personal_time">
						<table width="738" border="0" cellspacing="0" cellpadding="0" id='emailTable'>
							<tr>
								<td width="10" height="30">&nbsp;</td>
								<td width="34">主要</td>
								<td width="17">&nbsp;</td>
								<td width="135">邮件类型</td>
								<td width="10">&nbsp;</td>
								<td width="500">邮件地址</td>

								<td width="12">&nbsp;</td>
								<td width="18">
									<a href title="添加" target="" class="personal_tj" ng-click='addEmail()'></a>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							<tr ng-repeat='email in emailList' on-finish-render-filters>
								<td height="38">&nbsp;</td>
								<td>
									<input name="email_main" type="radio" class="edu_zhuyao email_main_class">
								</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family " >
										<dt class='email_lx_class' ng-bind='email.email_lx'></dt>
										<dd>
											<ul>
												<li ng-repeat='emailType in emailTypeOptions' fast-bind-select='{{$index+1}}' olength="{{emailTypeOptions.length}}"><a href>{{emailType}}</a></li>
											</ul>
										</dd>
									</dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_work" ng-model='email.email_dz' >
								</td>
								<td>&nbsp;</td>
								<td>
									<a href title="删除" target="" class="personal_sc " ng-click='removeEmail($index)'></a>
								</td>
								<td></td>
							</tr>

						</table>

					</div>
					<div class="personal_time">
						<table width="738" border="0" cellspacing="0" cellpadding="0" id='snsTable'>
							<tr>
								<td width="10" height="30">&nbsp;</td>
								<td width="34"></td>
								<td width="17">&nbsp;</td>
								<td width="135">SNS类型</td>
								<td width="10">&nbsp;</td>
								<td width="500">详细信息</td>

								<td width="12">&nbsp;</td>
								<td width="18">
									<a href title="添加" target="" class="personal_tj" ng-click='addSns()'></a>
								</td>
								<td width="20">&nbsp;</td>
							</tr>
							<tr ng-repeat='sns in snsList'>
								<td height="38">&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family " >
										<dt class='sns_lx_class' ng-bind='sns.sns_lx'></dt>
										<dd>
											<ul>
												<li ng-repeat='snsType in snsTypeOptions'  fast-bind-select='{{$index+1}}' olength="{{snsTypeOptions.length}}"><a href>{{snsType}}</a></li>
											</ul>
										</dd>
									</dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_work" ng-model='sns.sns_xx' >
								</td>
								<td>&nbsp;</td>
								<td>
									<a href title="删除" target="" class="personal_sc " ng-click='removeSns($index)' ></a>
								</td>
								<td></td>
							</tr>

						</table>

					</div>
					<div class="tel_an">
						<a href title="" target="" ng-click='saveContact()'>保存</a>
					</div>
				</div>
				
				<div id="con3" class="tem" style="display:none;" ng-controller='EducationController'>
					<div class="personal_time">
						<table id="educationTable" width="738" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="10" height="30">&nbsp;</td>
								<td width="17">&nbsp;</td>
								<td width="116">入学时间</td>
								<td width="3">&nbsp;</td>
								<td width="116">毕业时间</td>
								<td width="3">&nbsp;</td>
								<td width="124">毕业院校</td>
								<td width="3">&nbsp;</td>
								<td width="100">专业</td>
								<td width="3">&nbsp;</td>
								<td width="76">获得学历</td>
								<td width="3">&nbsp;</td>
								<td width="76">获得学位</td>
								<td width="12">&nbsp;</td>
								<td width="18">
									<a href title="添加" target="" class="personal_tj" ng-click='addEducation()'></a>
								</td>
								<td width="16">&nbsp;</td>
							</tr>
							<tr ng-repeat='eduBg in eduBgLst track by $index'>
								<td height="38">&nbsp;</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" datepicker class="edu_rx" ng-model='eduBg.edu_rxsj'  style="font-family: 'microsoft yahei';">
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" datepicker class="edu_rx" ng-model='eduBg.edu_bysj'  style="font-family: 'microsoft yahei';">
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_yx"   ng-model='eduBg.edu_byxx' style="font-family: 'microsoft yahei';">
								</td>
								<td>&nbsp;</td>
								<td>
									<input type="text" class="edu_zy"  ng-model='eduBg.edu_xxzy' style="font-family: 'microsoft yahei';">
								</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family " >
										<dt class='edu_hdxl_class' ng-bind='eduBg.edu_hdxl' style="width: 74px;background-position-x: 86px;"></dt>
										<dd style="width: 104px;">
											<ul style="width: 100px;">
												<li ng-repeat='diplomaType in diplomaTypeOptions' fast-bind-select='{{$index+1}}' olength="{{diplomaTypeOptions.length}}"><a href>{{diplomaType}}</a></li>
											</ul>
										</dd>
									</dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<dl class="select_family " fast-bind-select='education'>
										<dt class='edu_hdxw_class' ng-bind='eduBg.edu_hdxw' style="width: 74px;background-position-x: 86px;"></dt>
										<dd style="width: 104px;">
											<ul style="width: 100px;">
												<li ng-repeat='degreeType in degreeTypeOptions' fast-bind-select='{{$index+1}}' olength="{{degreeTypeOptions.length}}"><a href>{{degreeType}}</a></li>
											</ul>
										</dd>
									</dl>
								</td>
								<td>&nbsp;</td>
								<td>
									<a href title="删除"  target="" class="personal_sc deleteLineClass" ng-click='remove($index)'></a>
								</td>
								<td>&nbsp;</td>
							</tr>
						</table>

					</div>
					<div class="tel_an">
						<a href title="" target="" ng-click='saveEduBg()'>保存</a>
					</div>
				</div>
				
				<div id="con4" class="tem" style="" ng-controller='WorkController'>
					<div class="works">
						<h2>提示：不允许在线修改过往工作经历，如需调整，请到MBA办公室申请调整。</h2>
						<div class="works_one" ng-repeat='work in workList'>
							<div class="works_one_tit">
								<h2>工作经历 {{$index+1}}</h2>
							</div>
							<div class="works_one_list">
								<div class="wol_lite">
									<span>工作开始日期：</span>
									<p ng-bind='work.work_kssj' ></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>工作部门中文：</span>
									<p ng-bind='work.work_bmzw'></p>
								</div>
								<div class="wol_lite">
									<span>工作结束日期：</span>
									<p ng-bind='work.work_jssj'></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>工作部门英文：</span>
									<p ng-bind='work.work_bmyw'></p>
								</div>
								<div class="wol_lite">
									<span>公司中文名：</span>
									<p ng-bind='work.work_zwm'></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>担任职务中文：</span>
									<p ng-bind='work.work_zwzw'></p>
								</div>
								<div class="wol_lite">
									<span>公司英文名：</span>
									<p ng-bind='work.work_ywm'></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>担任职务英文：</span>
									<p ng-bind='work.work_zwyw'></p>
								</div>
								<div class="wol_lite">
									<span>公司经营范围中文：</span>
									<p ng-bind='work.work_fwzw'></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>公司行业：</span>
									<p ng-bind-html='work.work_hy'></p>
								</div>
								<div class="wol_lite">
									<span>公司经营范围英文：</span>
									<p ng-bind='work.work_fwyw'></p>
								</div>
								<div class="wol_lite wol_lite_right">
									<span>公司性质：</span>
									<p ng-bind='work.work_xz'></p>
								</div>
								<div class="wol_lite wol_lite_big"  on-finish-load-work>
									<span>工作内容：</span>
									<p ng-bind='work.work_nr' style="padding: 15px;height: auto; word-break: break-all; word-wrap: break-word;line-height: 175%;margin-left: 135px;padding-top: 0;"></p>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						
						<div class="wol_an">
							<a href title="" target="" ng-click='saveWork()'>保存</a>
							<span style="width: 15px;float: right;">&nbsp;</span>
							<a href title="" target="" ng-click='openAddDialog()'>继续添加</a>
						</div>
					</div>
			
			
			
					<div class="dialog_wdkb" id="imgBox_WorkBackground" style="display:none;">
						<div class="dialog_wol_mar">
							<h2><a href="#" title="关闭" onclick="easyDialog.close();"><img src="images/close.png" width="20" height="20"></a></h2>
			
			
							<table width="695" border="0" cellspacing="0" cellpadding="0" class="dialog_wol_nr">
								<tr>
									<td height="46" width="130">工作开始日期</td>
									<td width="228">
										<input type="text" name="" ng-model='editWork.work_kssj' datepicker class="wol_ipt">
									</td>
									<td width="109">工作部门中文</td>
									<td width="228">
										<input type="text" name="" ng-model='editWork.work_bmzw' class="wol_ipt">
									</td>
								</tr>
								<tr>
									<td height="46">工作结束日期</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_jssj' datepicker class="wol_ipt">
									</td>
									<td>工作部门英文</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_bmyw' class="wol_ipt">
									</td>
								</tr>
								<tr>
									<td height="46">公司中文名</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_zwm' class="wol_ipt">
									</td>
									<td>担任职务中文</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_zwzw' class="wol_ipt">
									</td>
								</tr>
								<tr>
									<td height="46">公司英文名</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_ywm' class="wol_ipt">
									</td>
									<td>担任职务英文</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_zwyw' class="wol_ipt">
									</td>
								</tr>
			
								<tr>
									<td height="46">公司经营范围中文</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_fwzw' class="wol_ipt">
									</td>
									<td>公司行业</td>
									<td>
										<dl class="selcect_wol ">
											<dt class="industry_class" ng-bind='editWork.work_hy'></dt>
											<dd>
												<ul>
													<li ng-repeat='industryType in industryTypeOptions' fast-bind-select='{{$index+1}}' olength="{{industryTypeOptions.length}}"><a href>{{industryType}}</a></li>
												</ul>
											</dd>
										</dl>
									</td>
								</tr>
								<tr>
									<td height="46">公司经营范围英文</td>
									<td>
										<input type="text" name="" ng-model='editWork.work_fwyw' class="wol_ipt">
									</td>
									<td>公司性质</td>
									<td>
										<dl class="selcect_wol " fast-bind-select=''>
											<dt class='nature_class' ng-bind='editWork.work_xz'></dt>
											<dd>
												<ul>
													<li ng-repeat='natureType in natureTypeOptions' fast-bind-select='{{$index+1}}' olength="{{natureTypeOptions.length}}"><a href>{{natureType}}</a></li>
												</ul>
											</dd>
										</dl>
									</td>
								</tr>
								<tr>
									<td height="50">工作内容</td>
									<td colspan="3" rowspan="2" valign="middle">
										<textarea type="text" name="" ng-model='editWork.work_nr' class="wol_ipt_big"></textarea>
									</td>
								</tr>
								<tr>
									<td height="30">&nbsp;</td>
								</tr>
							</table>
							<div class="wol_pop_an">
								<a href title="" id="btnClose" ng-click="addWork();">添加</a>
							</div>
						</div>
					</div>
		
					
				</div>

			</div>
			<div class="clear"></div>
		</div>
		
		<script src="js/fakeObjects.js"></script> 
		<script>
			
			var test_local = true;
			var show_visibility_options = false;
			
			var loadingWidget = layer.load('获取数据中..');
			layer.area(loadingWidget);

			/* TODO : Common Functions Sign */
			{	
				
				/* we get data : address_main : Y/N . set checked */
				function InitRadioButtonChecked(tableName, objectList, field){
					for (var i = 0; i < objectList.length; i++){
						var checkedTr = $("#" + tableName + " tr")[i+1];
						if (yesOrNo(objectList[i][field])){
							$(checkedTr).find("input[name='" + field + "']").attr('checked', true);
							break;
						}
					}
				}
				
				/* translate between Y/N - true/false */
				function yesOrNo(yn){
					switch (yn){
						case 'Y':
						case 'y':
							return true;
						case 'N':
						case 'n':
							return false;
						case true:
						case "checked":
							return 'Y';
						case false:
							return 'N';
						/* undefined makes N*/
						default:
							return 'N';
					}
				}
				
				/* cannot edit / remove saved object ! */
				function Disable_And_HideRemoveButton(objectList){
					if (!objectList || !(objectList.length) || objectList.length == 0) return;
					
					/* on saved object : disable input , hide remove button , disable select */
					for (var i = 0; i < objectList.length; i++){
						objectList[i].editEnabled = false;
						objectList[i].removeHiddenClass = "remove_button_hidden";
						objectList[i].selectDisabledClass = 'select_family_disabled';
					}
				}
			}
			
			var PersonalInfoAppModule = angular.module('PersonalInfoApp', []).config(function($sceProvider) {
				$sceProvider.enabled(false);
			});
			moduleDirective_datePicker(PersonalInfoAppModule);
			moduleDirective_fastBind(PersonalInfoAppModule);
		    moduleDirective_afterRenderFinish(PersonalInfoAppModule);
		    PersonalInfoAppModule.directive('onFinishLoadWork', function($timeout){
				return {
					restrict: 'A',
					link: function(scope, element, attr){
						if (scope.$last === true){
							$timeout(function(){
								scope.$emit("newWorkLoaded");
							});
						}
					}
				};
			});

			/* TODO : factory Sign */
			PersonalInfoAppModule.factory('PersonalInfoInterface',
				function ($http){
					var _ = {};
					_.getPersonalInfo = function(callback){
						$http.post(psc_url + 'WEBLIB_MBA_STU.TZ_MBA_STU_GRXX.FieldFormula.Iscript_getGrxx',{params:{}
						}).success(function(data,status,headers,config){
							callback(data);
						}).error(function(data,status,headers,config){
							if (test_local){
								callback(fakePersonalInfoObject);
							} else {
								alert('无法获取个人信息！（错误码：'+status+')');
								callback(null);
							}
						});
					};
					
					_.updateBasicInfo = function(postData, callback){
						$.ajax({
							type:"post",
							url:psc_url + "WEBLIB_MBA_STU.TZ_MBA_STU_GRXX.FieldFormula.Iscript_save_jbxx",
							async:true,
							data: postData,
							success:function(data){
								if (data == 'success'){
									alert('保存成功');
								} else {
									alert('保存失败');
								}
							},
							error: function(XMLHttpRequest, textStatus, errorThrown){
								alert('无法保存！（错误码：' + XMLHttpRequest.status + "）");
							}
						});
					};
					
					_.updateContactInfo = function(postData, callback){
						$.ajax({
							type:"post",
							url:psc_url + "WEBLIB_MBA_STU.TZ_MBA_STU_GRXX.FieldFormula.Iscript_save_lxxx",
							async:true,
							data:postData,
							success:function(data){
								if (data == 'success'){
									alert('保存成功');
								} else {
									alert('保存失败');
								}
							},
							error: function(XMLHttpRequest, textStatus, errorThrown){
								alert('无法保存！（错误码：' + XMLHttpRequest.status + "）");
							}
						});
					};
					
					_.updateEducationBackground = function(postData,callback){
						$.ajax({
							type:"post",
							url:psc_url + "WEBLIB_MBA_STU.TZ_MBA_STU_GRXX.FieldFormula.Iscript_save_jyxx",
							async:true,
							data : postData,
							success: function(data){
								if (data == 'success'){
									alert('保存成功');
								} else {
									alert('保存失败');
								}
							},
							error: function(XMLHttpRequest, textStatus, errorThrown){
	                    		alert('无法保存！（错误码：' + XMLHttpRequest.status + "）");
	                   		}
						});
					};
					
					_.updateWorkBackground = function(postData,callback){
						$.ajax({
							type:"post",
							url:psc_url + "WEBLIB_MBA_STU.TZ_MBA_STU_GRXX.FieldFormula.Iscript_save_gzjl",
							async:true,
							data : postData,
							success: function(data){
								if (data == 'success'){
									alert('保存成功');
								} else {
									alert('保存失败');
								}
							},
							error: function(XMLHttpRequest, textStatus, errorThrown){
	                    		alert('无法保存！（错误码：' + XMLHttpRequest.status + "）");
	                   		}
						});
					};
					
					return _;
				}
			);
			
			PersonalInfoAppModule.controller(
				'PersonalInfoController',
				function ($scope, PersonalInfoInterface){
					function isPersonalInfoDataValid(obj){
						return obj && obj.person_id != '';
					}
					
					/* 不显示 隐私设置  */
					$scope.show_visibility_options = show_visibility_options;
					
					PersonalInfoInterface.getPersonalInfo(function(data){
						if (data){
							if (isPersonalInfoDataValid(data)){
								$scope.PersonalInfoData = data;
							}
							else
								alert('无法获取个人信息！请重新登录再尝试。');
						}
						
						/* 无论是否正常地获取到数据，都广播下 */
						$scope.$broadcast('dataReady');
						layer.closeAll();
					});
				}
			);
			
			PersonalInfoAppModule.controller(
				'BasicInfoController',
				function ($scope, PersonalInfoInterface){
					$scope.saveBasic = function(){
						var postData = {};
						postData.bankAccountNo = $scope.PersonalInfoData.bankAccountNo;
						postData.bankName = $scope.PersonalInfoData.bankName;
						
						/* post */
						PersonalInfoInterface.updateBasicInfo(postData, function(){;});
					};
				}
			);
			
			/* TODO : Contact Controller Sign */
			PersonalInfoAppModule.controller(
				'ContactController',
				function($scope, PersonalInfoInterface){
					var defaultAddressData = {
						address_main: false,
						address_fs: addressTypeOptions[0],
						address_dz: '',
						address_yb: ''
					};
					
					var defaultPhoneData = {
						phone_main: false,
						phone_fs: phoneTypeOptions[0],
						phone_qh: '',
						phone_dh: '',
						phone_fjh: ''
					};
					
					var defaultEmailData = {
						email_main: false,
						email_lx: emailTypeOptions[0],
						email_dz: ''
					};
					
					var defaultSnsData = {
						sns_lx: snsTypeOptions[0],
						sns_xx: ''
					};
					
					var addressList = [];
					$scope.addressList = addressList;
					$scope.addressTypeOptions = addressTypeOptions;
					
					var phoneList = [];
					$scope.phoneList= phoneList;
					$scope.phoneTypeOptions = phoneTypeOptions;
					
					var emailList = [];
					$scope.emailList = emailList;
					$scope.emailTypeOptions = emailTypeOptions;
					
					var snsList = [];
					$scope.snsList = snsList;
					$scope.snsTypeOptions = snsTypeOptions;
					
					$scope.dataReady = false;
					
					$scope.addAddress = function(){
						emptyLine = $.extend(true, {}, defaultAddressData);
						$scope.addressList.push(emptyLine);
					};
					
					$scope.addPhone = function(){
						emptyLine = $.extend(true, {}, defaultPhoneData);
						$scope.phoneList.push(emptyLine);
					};
					
					$scope.addEmail = function(){
						emptyLine = $.extend(true, {}, defaultEmailData);
						$scope.emailList.push(emptyLine);
					};
					
					$scope.addSns = function(){
						emptyLine = $.extend(true, {}, defaultSnsData);
						$scope.snsList.push(emptyLine);
					};
					
					$scope.removeAddress = function(index){
						$scope.addressList.splice(index,1);
					};
					
					$scope.removePhone = function(index){
						$scope.phoneList.splice(index,1);
					};
					
					$scope.removeEmail = function(index){
						$scope.emailList.splice(index,1);
					};
					
					$scope.removeSns = function(index){
						$scope.snsList.splice(index,1);
					};
					
					function isObjectValid(){
						return false;
					}
					
					$scope.$on('dataReady', function(){
						if ($scope.PersonalInfoData){
							if ($scope.PersonalInfoData.address){
								addressList = $scope.PersonalInfoData.address;
								$scope.addressList = addressList;
							}
							if ($scope.PersonalInfoData.phone){
								phoneList = $scope.PersonalInfoData.phone;
								$scope.phoneList = phoneList;
							}
							if ($scope.PersonalInfoData.email){
								emailList = $scope.PersonalInfoData.email;
								$scope.emailList = emailList;
							}
							if ($scope.PersonalInfoData.sns){
								snsList = $scope.PersonalInfoData.sns;
								$scope.snsList = snsList;
							}
						}
						/* cannot save before we've load all data */
						$scope.dataReady = true;
					});
					
					$scope.$on('ngRepeatFinished', function(){
						InitRadioButtonChecked("addressTable", addressList, "address_main");
						InitRadioButtonChecked("phoneTable", phoneList, "phone_main");
						InitRadioButtonChecked("emailTable", emailList, "email_main");
					});
					
					/* TODO : saveContact Sign */
					$scope.saveContact = function(){
						if (!$scope.dataReady) {
							alert('请等待数据加载完成之后再保存');
							return;
						}
						
						/* pre : fillin() && required initialization */
						fillin();
						var postData = {};
						postData["NUMBER_DZ"] = 0;
						postData["NUMBER_DH"] = 0;
						postData["NUMBER_YX"] = 0;
						postData["NUMBER_SNS"] = 0;
						
						
						/* process : ;*/
						var _addressList = $.extend(true, {}, $scope.addressList);
						var _phoneList = $.extend(true, {}, $scope.phoneList);
						var _emaiList = $.extend(true, {}, $scope.emailList);
						var _snsList = $.extend(true, {}, $scope.snsList);
						
						/* address */
						var count = 0;
						var index = 0;
						while(_addressList[index]) count += packUp(postData,_addressList[index],++index,'address');
						postData["NUMBER_DZ"]=count;
						
						/* phone */
						count = 0;
						index = 0;
						while(_phoneList[index]) count += packUp(postData,_phoneList[index],++index,'phone');
						postData["NUMBER_DH"]=count;
						
						/* email */
						count = 0;
						index = 0;
						while(_emaiList[index]) count += packUp(postData,_emaiList[index],++index,'email');
						postData["NUMBER_YX"]=count;
						
						/* sns */
						count = 0;
						index = 0;
						while(_snsList[index]) count += packUp(postData,_snsList[index],++index,'sns');
						postData["NUMBER_SNS"]=count;
						
						PersonalInfoInterface.updateContactInfo(postData,function(){;});
					};
					
					function fillin(){
						/* address */
						for (var i = 0; i < $scope.addressList.length; i++){
							$scope.addressList[i].address_main = yesOrNo($(".address_main_class").eq(i).attr('checked'));
							$scope.addressList[i].address_fs = $(".address_fs_class").eq(i).text();
						}
						
						/* phone */
						for (var i = 0; i < $scope.phoneList.length; i++){
							$scope.phoneList[i].phone_main = yesOrNo($(".phone_main_class").eq(i).attr('checked'));
							$scope.phoneList[i].phone_fs = $(".phone_fs_class").eq(i).text();
						}
						
						/* email */
						for (var i = 0; i < $scope.emailList.length; i++){
							$scope.emailList[i].email_main = yesOrNo($(".email_main_class").eq(i).attr('checked'));
							$scope.emailList[i].email_lx = $(".email_lx_class").eq(i).text();
						}
						
						/* sns */
						for (var i = 0; i < $scope.snsList.length; i++){
							$scope.snsList[i].sns_lx = $(".sns_lx_class").eq(i).text();
						}
					}
					
					function isValidObject(obj, type){
						switch (type){
							case 'address':
							{
								if ((!obj.address_fs || obj.address_dz == '') &&
									(!obj.address_fs || obj.address_yb == '')){
									return false;
								}
							}
							break;
							
							case 'phone':
							{
								if ((!obj.phone_dh || obj.phone_dh == '') &&
									(!obj.phone_qh || obj.phone_qh == '') &&
									(!obj.phone_fjh || obj.phone_fjh == '')){
									return false;
								}
							}
							break;
							
							case 'email':
							{
								if ((!obj.email_dz || obj.email_dz == '')){
									return false;
								}
							}
							break;
							
							case 'sns':
							{
								if ((!obj.sns_xx || obj.sns_xx == '')){
									return false;
								}
							}
							break;
						}
						
						return true;
					}
					
					function packUp(packedUp, currentObj, num, type){
						
						if (!isValidObject(currentObj,type)) return 0;
						
						switch (type) {
							case 'address':
							{
								packedUp["TZ_MAINADDR_FLG_" + num] = yesOrNo($(":radio[name='address_main']").eq(num-1).attr('checked'));
								packedUp["TZ_DZ_LX_" + num] = currentObj.address_fs;
								packedUp["TZ_LX_ADDR_" + num] = currentObj.address_dz;
								packedUp["TZ_POSTAL_" + num] = currentObj.address_yb;
							}
							break;
							
							case 'phone':
							{
								packedUp["TZ_MAINPHONE_FLG_" + num] = yesOrNo($(":radio[name='phone_main']").eq(num-1).attr('checked'));
								packedUp["TZ_DH_LX_" + num] = currentObj.phone_fs;
								packedUp["TZ_PHONE_" + num] = currentObj.phone_dh;
								packedUp["TZ_COUNTRY_CODE_" + num] = currentObj.phone_qh;
								packedUp["TZ_EXTENSION_" + num] = currentObj.phone_fjh;
							}
							break;
							
							case 'email':
							{
								packedUp["TZ_MAINEML_FLG_" + num] = yesOrNo($(":radio[name='email_main']").eq(num-1).attr('checked'));
								packedUp["TZ_YJ_LX_" + num] = currentObj.email_lx;
								packedUp["TZ_EMAIL_ADDR_" + num] = currentObj.email_dz;
							}
							break;
							
							case 'sns':
							{
								packedUp["TZ_INTNTT_YPE_" + num] = currentObj.sns_lx;
								packedUp["TZ_INTNT_INFO_" + num] = currentObj.sns_xx;
							}
							break;
							
							default:
							break;
						}
						
						return 1;
						
					}
				}
			);
			
			/* TODO : Education Controller Sign */
			PersonalInfoAppModule.controller(
				'EducationController',
				function($scope, PersonalInfoInterface){
					/* by default , can be deleted */
					var defaultData = {
						edu_rxsj: '',
						edu_bysj: '',
						edu_byxx: '',
						edu_xxzy: '',
						edu_hdxl: '',
						edu_hdxw: ''
					};
					
					var eduBgLst = [];
					$scope.eduBgLst = eduBgLst;
					$scope.dataReady = false;
					$scope.diplomaTypeOptions = diplomaTypeOptions;
					$scope.degreeTypeOptions = degreeTypeOptions;
					
					function fillin(){
						for (var i = 0; i < $scope.eduBgLst.length; i++){
							$scope.eduBgLst[i].edu_hdxl = $(".edu_hdxl_class").eq(i).text();
							$scope.eduBgLst[i].edu_hdxw = $(".edu_hdxw_class").eq(i).text();
						}
					}
					
					function packUp(packedUp, currentObj, num){
						packedUp["TZ_ADMISSN_DT_"+num] = currentObj.edu_rxsj;
						packedUp["TZ_UDRGRD_DT_"+num] = currentObj.edu_bysj;
						packedUp["TZ_SCH_CNAME_"+num] = currentObj.edu_byxx;
						packedUp["TZ_SPECIALTY_"+num] = currentObj.edu_xxzy;
						packedUp["TZ_OBT_EDUC_"+num] = currentObj.edu_hdxl;
						packedUp["TZ_OBT_DEGR_"+num] = currentObj.edu_hdxw;
					}
					
					$scope.addEducation = function(){
						var emptyNewLine = $.extend(true, {}, defaultData);
						$scope.eduBgLst.push(emptyNewLine);
					};
					
					$scope.remove = function(index){
						$scope.eduBgLst.splice(index,1);
					};
					
					$scope.saveEduBg = function(){
						if (!$scope.dataReady) {
							alert('请等待数据加载完成之后再保存');
							return;
						}
						
						fillin();
						var postData = {};
						postData["NUMBER_EDU"]=0;
						
						var edus = $.extend(true, {}, $scope.eduBgLst);
						var count = 0;
						while(edus[count]) packUp(postData,edus[count],++count);
						postData["NUMBER_EDU"]=count;

						/* post */
						PersonalInfoInterface.updateEducationBackground(postData, function(){;});
						
					};
					
					$scope.$on('dataReady', function(){
						if ($scope.PersonalInfoData && $scope.PersonalInfoData.education){
							eduBgLst = $scope.PersonalInfoData.education;
							$scope.eduBgLst = eduBgLst;
						}
						$scope.dataReady = true;
					});
					
				}
			);
			
			PersonalInfoAppModule.controller(
				'WorkController',
				function($scope, PersonalInfoInterface){
					var defaultData = {
						work_kssj: '',
						work_jssj: '',
						work_zwm: '',
						work_ywm: '',
						work_fwzw: '',
						work_fwyw: '',
						work_zwzw: '',
						work_zwyw: '',
						work_bmzw: '',
						work_bmyw: '',
						work_hy: '',
						work_xz: '',
						work_nr: ''
					};
					
					var workList = [];
					$scope.workList = workList;
					$scope.editWork = $.extend(true, {}, defaultData);
					$scope.dataReady = false;
					$scope.industryTypeOptions = industryTypeOptions;
					$scope.natureTypeOptions = natureTypeOptions;
					$scope.heightFixedOnInit = false;
					
					function fillin(){
						$scope.editWork.work_xz = $(".nature_class").text();
						$scope.editWork.work_hy = $(".industry_class").text();
					}
					
					$scope.$on('dataReady', function(){
						if ($scope.PersonalInfoData && $scope.PersonalInfoData.work){
							workList = $scope.PersonalInfoData.work;
							Disable_And_HideRemoveButton(workList);
							for (var i = 0; i < workList.length; i++) workList[i]["heightFixed"] = false;
							$scope.workList = workList;
							$scope.savedNumber = workList.length;
						}
						/* no need */
						if ($scope.workList.length == 0) $scope.heightFixedOnInit = true;
						
						$scope.dataReady = true;
					});
					
					$scope.addWork = function(){
						fillin();
						$scope.workList.push($.extend(true, {}, $scope.editWork));
						$scope.editWork = $.extend(true, {}, defaultData);
						
						easyDialog.close();
					};
					
					function packUp(packedUp, currentObj, num){
						packedUp["TZ_STA_DT_"+num] = currentObj.work_kssj;
						packedUp["TZ_END_DT_"+num] = currentObj.work_jssj;
						packedUp["TZ_COMP_CNAME_"+num] = currentObj.work_zwm;
						packedUp["TZ_COMP_ENAME_"+num] = currentObj.work_ywm;
						packedUp["TZ_BLT_DEPT_"+num] = currentObj.work_bmzw;
						packedUp["TZ_BLT_DEPT_EN_"+num] = currentObj.work_bmyw;
						packedUp["TZ_JOB_POSITION_"+num] = currentObj.work_zwzw;
						packedUp["TZ_JOB_POSITION_EN_"+num] = currentObj.work_zwyw;
						packedUp["TZ_MBABLT_INDUSTRY_"+num] = currentObj.work_hy;
						packedUp["TZ_COMP_JYFW_"+num] = currentObj.work_fwzw;
						packedUp["TZ_COMP_JYFW_ENG_"+num] = currentObj.work_fwyw;
						packedUp["TZ_COMP_NATURE_"+num] = currentObj.work_xz;
						packedUp["TZ_WORK_CONT_"+num] = currentObj.work_nr;
					}
					
					$scope.saveWork = function(){
						if (!$scope.dataReady) {
							alert('请等待数据加载完成之后再保存');
							return;
						}
						
						var postData = {};
						postData["NUMBER_WORK"]=0;
						
						var works = $.extend(true, {}, $scope.workList);
						var startFrom = $scope.savedNumber;
						var count = 0;
						while(works[count + startFrom]) packUp(postData,works[count + startFrom],++count);
						postData["NUMBER_WORK"]=count;

						/* post */
						PersonalInfoInterface.updateWorkBackground(postData, function(){;});
					};
					
					$scope.openAddDialog = function(){
						delayOpenDialogBy100('imgBox_WorkBackground');
					};
					
					$scope.$on('newWorkLoaded', function(){
						var wl = $scope.workList;
						/* why we do this ? because the browser is so smart than it will not render tab4 until use want to see it, so we just get the p.height of 0 !!! */
						showTab('yq_xxk','con','tit',4);
						for (var i = wl.length-1; i >= 0; i--){
							if (wl[i]["heightFixed"]) break;
							
							/* compare the same line , use bigger height */
							$(".works_one_list").eq(i).find(".wol_lite_right").each(function(i){
								var prevSib = $(this).prev(".wol_lite");
								var hr = $(this).find("p").height();
								var hl = prevSib.find("p").height();
								if (hr < hl){
									$(this).css("height", (hl + 10) + "px");
									prevSib.css("height", (hl + 10) + "px");
								} else if (hr > hl){
									$(this).css("height", (hr + 10) + "px");
									prevSib.css("height", (hr + 10) + "px");
								}
							});
							$scope.workList[i].heightFixed = true;
						}
						if (!$scope.heightFixedOnInit){
							showTab('yq_xxk','con','tit',1);
							$scope.heightFixedOnInit = true;
						}
					});
					
				}
			);
		</script>
		
		<!--TODO : CopyEnd-->
		
		<div class="footer">
			<div class="ft_box">
				<div class="ft_box_l">
					<div class="ft_list">
						<ul>
							<li style="margin-left:-8px;"><a href="#" title="">关于安泰</a>
							</li>
							<li><a href="#" title="">网站地图</a>
							</li>
							<li><a href="#" title="">友情链接</a>
							</li>
							<li><a href="#" title="">帮助中心</a>
							</li>
							<li style="background:none;"><a href="#" title="">联系我们</a>
							</li>
						</ul>
						<a href="#" title="" class="ft_box_r">
							<img src="images/login_5.jpg" width="238" height="50">
						</a>
					</div>
					<p class="bqsy">Copyright 2011-2014 © 上海交通大学安泰经济与管理学院</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>

</html>
