@charset "utf-8";
/* CSS Document */
.crumbs{ width:100%; height:54px;}
.crumbs p{ font-size:12px; color:#5a5a5a; line-height:0; padding-top:36px; padding-left:3px;}
.crumbs p a{ color:#5a5a5a;}
.s_main{ width:1000px; height:auto; margin:0 auto ;}
.s_main_l{ width:244px; height:auto; float:left;}
.sider{ width:242px; border:1px solid #dadbdd; margin-bottom:10px;}
.sider li{ width:242px; height:50px; border-top:1px solid #dadbdd; line-height:50px; font-weight:700;}
.sider li a{ padding-left:14px;}
.sider li .current{ background:url(../images/sider_1.jpg) 210px center no-repeat; display:block; border-left:4px solid #fa7f00; color:#fa7f00; padding-left:10px;}
.sml_kb{ width:242px; overflow:hidden; border:1px solid #dadbdd; margin-bottom:10px; }
.sml_kb li a{ width:91px; height:44px; line-height:44px; padding-left:30px; background:url(../images/sider_2.jpg) no-repeat 13px center; float:left; font-size:12px;}
.sml_kb li a:hover{ background:#fa7f00 url(../images/sider_3.jpg) no-repeat 13px center; color:#FFF;}
#sml_kb_cv{ background:#fa7f00 url(../images/sider_3.jpg) no-repeat 13px center; color:#FFF;}
.sml_down{width:242px; height:221px; border:1px solid #dadbdd; overflow:hidden;}
.s_main_r{ width:738px; float:right; padding-top:53px;}
#yq_xxk{ width:738px; overflow:hidden; margin-bottom:30px; }
#yq_xxk ul{ width:736px; display:block;  border:1px solid #dadbdd; border-bottom:none;}
#yq_xxk li{ float:left; width:184px; height:40px; line-height:40px; text-align:center; cursor:pointer; background:#eeeeee; font-size:16px; color:#5a5a5a; border-bottom:1px solid #dadbdd;}
.xxk2{border-left:1px solid #dadbdd;}
#yq_xxk li.current{ text-decoration:none; background:#FFF; border-bottom:none;}

.tem{ width:736px; display:none;}

/*.tem table td{ text-align:center; font-size:14px; color:#5a5a5a;}*/
.s_marin_r_xksm{ margin-bottom:30px; padding:0 5px;}
.s_marin_r_xksm h2{ font-size:14px; font-weight:700; line-height:40px; color:#5a5a5a;}
.s_marin_r_xksm p{ text-indent:2em; font-size:14px; color:#5a5a5a; line-height:24px;}
.xkdssy{ font-style:normal; font-weight:700; color:#5a5a5a;}

.tem .qbds{ width:736px; height:105px; padding-top:15px; border:1px solid #dadbdd; margin-bottom:25px;}
.qbds_zt{ font-size:12px; font-style:normal;}

.s_mr_courses{ width:738px;}
.s_mr_courses h2{ font-size:12px; color:#5a5a5a;}
.s_mr_courses_tab{ border-top:1px solid #dadbdd; border-left:1px solid #dadbdd;}
.s_mr_courses_tab td{ border-bottom:1px solid #dadbdd; border-right:1px solid #dadbdd; text-align:center; font-size:12px; color:#5a5a5a;}
.s_mr_ct_selct{ width:70px; height:40px; background:#fa7f00; color:#FFF; line-height:18px; padding-top:5px; margin:0 auto;}
.skjs{ font-size:14px; color:#288cdb; border-bottom:1px solid #288cdb;}
.dialog_pop{ width:326px; height:174px;}
.ctstab_mar{width:326px; height:160px; padding-top:24px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#fff; border:1px solid #e5e5e5; border-radius:5px 5px 5px 5px; border:1px solid #fb9442; display:block;}
.ctstab_mar td{ color:#5a5a5a; font-size:18px;}
.ctstab_mar_ipt{ width:146px; height:24px; border:1px solid #cccccc;  color:#5a5a5a; font-size:14px; outline:none;}
.ctstab_mar_ipt2{ width:146px; height:24px; border:1px solid #cccccc; color:#5a5a5a; font-size:14px; outline:none;}
.dialog_an{ margin-left:18px;}
.s_mr_ct_selct a{ color:#FFF;}
.dialog_an_l{ width:65px; height:25px; background:#fa7f00; font-size:14px; line-height:24px; color:#FFF; cursor:pointer; display:inline-block; float:left; border:none; overflow:hidden; margin:0; padding:0; text-align:center;}
.dialog_an_r{ width:65px; height:25px; background:#fa7f00; font-size:14px; line-height:24px; color:#FFF; border:none; cursor:pointer; display:inline-block; float:left; overflow:hidden; margin-left:18px; text-align:center;}

/*活动公告*/
.notices{ width:735px; float:right;}
.notices h2{ width:100%; height:28px; border-bottom:2px solid #fa7f00; color:#5a5a5a; font-size:16px; font-weight:700;}
.notices_list{ width:733px; border-bottom:1px solid #dadbdd; padding-top:10px; padding:0 12px 0 1px;}
.notices_list_nb{ width:733px; padding-top:10px; border:none;}
.notices_list li{ width:733px; height:auto; margin:24px 0; line-height:22px; display:block;}
.notices_list_rq{ width:80px; height:26px; overflow:hidden; font-family:Arial, Helvetica, sans-serif,"宋体"; color:#fa7f00; font-size:16px; line-height:28px; display:block; float:left; font-weight:700;}
.notices_list_wz{ width:515px; color:#4d4d4d; font-size:16px; float:left; line-height:26px; display:block;}
.notices_list_an{ width:62px; height:24px; text-align:center; line-height:24px; background:#fa7f00; float:left; display:block; margin-left:56px; display:inline; color:#FFF; margin-top:2px;}
.notices_list_ybm{ width:60px; height:24px; text-align:center; line-height:24px; border:1px solid #fa7f00; float:left; display:block; margin-left:56px; display:inline; color:#fa7f00;}
.notices_list_yjs{ width:60px; height:24px; text-align:center; line-height:24px; background:#cbcccc; float:left; display:block; margin-left:56px; display:inline; color:#FFF;}
.notic_fanye{ width:100%; text-align:center; font-size:14px; margin-top:50px;margin-bottom:50px;}
.notic_fanye a { padding:3px 5px 3px 5px;background:#ecedf1; margin:0px 5px 0px 0px;} 
.notic_fanye .current { color:#ffffff;background:#fa7f00;} 
/*活动公告内容页*/
.notices_contr{ width:735px; float:right;}
.notices_contr h2{ font-size:30px; line-height:36px; color:#404b5d; display:block; letter-spacing:1px; margin-bottom:40px;}

.notices_contr h3{ height:32px; display:block; border-bottom:2px solid #fa7f00;}
.notices_contr h3 p{ font-size:14px; color:#5a5a5a; line-height:30px; float:left;}
.notices_contr h3 a{ width:62px; height:24px; text-align:center; line-height:24px; background:#fa7f00; float:right; display:block; margin-left:86px; display:inline; color:#FFF; margin-top:2px; margin-right:2px;}
.notices_contr_box p{ font-size:14px; line-height:30px; color:#5a5a5a; display:block; margin-top:44px; text-indent:2em;}

/*通知公告*/
.activity{ width:735px; float:right;}
.activity h2{ width:100%; height:28px; border-bottom:2px solid #fa7f00; color:#5a5a5a; font-size:16px; font-weight:700;}
.activity_list{ width:720px; border-bottom:1px solid #dadbdd; padding-top:10px; padding:0 12px 0 1px;}
.activity_list li{ width:720px; height:auto; margin:24px 0; line-height:22px; display:block;}
.activity_list_an{ width:42px; height:20px; text-align:center; line-height:20px; background:#fa7f00; float:left; display:block; display:inline; color:#FFF; margin-right:15px; margin-top:2px;}
.activity_list_wz{ width:570px; color:#4d4d4d; font-size:16px; float:left; line-height:22px; display:block;}
.activity_list_rq{ height:26px; overflow:hidden; color:#9a9a9a; font-size:14px; line-height:22px; display:block; float:right; }


.activity_list_nb{ border:none;}
.activity_list_yjs{width:42px; height:20px; text-align:center; line-height:20px; background:#cbcccc; float:left; display:block; display:inline; color:#FFF; margin-right:15px; margin-top:2px;}



/*通知公告内容页*/

.activity_contr_box{ width:735px;}
.activity_contr{ width:735px; float:right;}
.activity_contr h2{ font-size:30px; line-height:36px; color:#404b5d; display:block; letter-spacing:1px; margin-bottom:40px;}
.activity_contr h4{ height:40px; display:block; border-bottom:2px solid #dadbdd; margin-bottom:40px;}
.activity_contr h4 p{ font-size:14px; color:#5a5a5a; line-height:30px; float:left;}
.picshow {
	BORDER-BOTTOM: #d9e0ea 1px solid; BORDER-LEFT: #d9e0ea 1px solid; MARGIN: 0px auto; WIDTH: 958px; HEIGHT: 620px; BORDER-TOP: #d9e0ea 1px solid; BORDER-RIGHT: #d9e0ea 1px solid
}

#picarea {
	MARGIN: 0px auto; WIDTH: 570px; BACKGROUND: #fff; HEIGHT:auto;
}
#bigpicarea {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 570px; HEIGHT: 340px; OVERFLOW: hidden;
}
.image {
	TEXT-ALIGN: center
}
.image IMG {
	BORDER-BOTTOM: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid; MARGIN: 0px auto; BORDER-TOP: #ececec 1px solid; BORDER-RIGHT: #ececec 1px solid
}
#bigpicarea .word {
	TEXT-ALIGN: center; HEIGHT: 50px; COLOR: #333
}
#bigpicarea .word H3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #333; FONT-SIZE: 14px
}
#bigpicarea .ui-els-hide {
	DISPLAY: none
}
#thumbs {
	LIST-STYLE-TYPE: none; MARGIN: 0px auto; WIDTH: 615px; HEIGHT: 62px
}
* HTML #thumbs {
	HEIGHT: 100%
}
#thumbs LI {
	MARGIN: 0px 4px; WIDTH: 106px; DISPLAY: inline; FLOAT: left; HEIGHT: 55px; padding-top:3px;
}
#thumbs UL {
	MARGIN-TOP: 3px
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first {
	MARGIN: 20px 10px 0px 0; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI.last {
	MARGIN: 20px 0 0px 9px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI A { 	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 90px; DISPLAY: block; FONT-SIZE: 0px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#thumbs LI A:hover { 
}
#thumbs LI A.current { width:106px; height:55px; border:3px solid #fa7f00;   /*-moz-border-radius: 20px;
-webkit-border-radius: 20px;*/ border-radius:5px 5px 5px 5px; 
}
#thumbs LI.first IMG {
	
}
#thumbs LI.last IMG {
	
}
.bigbtnPrev {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 21px; HEIGHT: 37px; TOP: 136px; CURSOR: pointer; LEFT: 40px
}
.bigbtnNext {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 21px; HEIGHT: 37px; TOP: 136px; CURSOR: pointer; RIGHT: 40px
}
#big_play_prev { background:url(../images/leftbig.png) left top no-repeat; WIDTH: 21px; DISPLAY: block; HEIGHT: 37px; _background: none; _filter:  progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/leftbig.png')
}
#big_play_next {
	background:url(../images/rightbig.png) left top no-repeat; WIDTH: 21px; DISPLAY: block; HEIGHT: 37px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/rightbig.png')
}
#smallpicarea {
	MARGIN: 0px auto; WIDTH: 958px; BORDER-TOP: #ececec 1px solid; PADDING-TOP: 20px
}

.boxxxx{ width:580px; height:60px; position:absolute; top:285px; left:0; background:#FFF; text-align:center;}
.boxxxx span{ color:#5a5a5a; font-size:14px; line-height:60px;}

/*培养计划*/
.schedule_cont{ width:738px; }
.schedule_cont_bt{ width:738px;}
.schedule_cont_bt h2{ display:block; text-align:center; font-weight:700; color:#404b5d; font-size:24px; margin-bottom:5px;}
.schedule_cont_xh{ width:738px; border-bottom:2px solid #fa7f00; margin-bottom:20px;}
.schedule_cont_xh span{ float:left; line-height:30px; display:block; font-size:14px; color:#5a5a5a;}
.schedule_cont_xh span em{ font-style:normal;}
.schedule_cont_xh_one{ width:320px; padding-left:10px;}
.schedule_cont_xh_two{ width:100px;}
.schedule_cont_xh_three{ width:298px; text-align:right; padding-right:10px;}

.pyjh_bxk{ width:738px; margin-bottom:20px;}
.pyjh_bxk h2{ text-align:left; font-weight:700; color:#5a5a5a; font-size:14px;}
.pyjh_bxk table{ border-right:1px solid #dadbdd; border-top:1px solid #dadbdd;}
.pyjh_bxk table td{ font-family:"宋体"; font-size:14px; color:#454545; text-align:center; border-bottom:1px solid #dadbdd; border-left:1px solid #dadbdd;}
.pyjh_box{ width:736px; height:150px; border:1px solid #dadbdd; overflow:hidden;}
.pyjh_box h2{ width:726px; height:32px; line-height:32px; display:block; border-bottom:1px solid #dadbdd; overflow:hidden; color:#454545; font-size:14px; text-align:center; font-weight:100; }

/*我的课表*/
.schedule_cont_pop{ width:738px; margin-bottom:20px;}
.schedule_cont_pop table{ border-right:1px solid #dadbdd; border-top:1px solid #dadbdd;}
.schedule_cont_pop table td{ font-size:14px; color:#5a5a5a; text-align:center; border-bottom:1px solid #dadbdd; border-left:1px solid #dadbdd;}
.scp_kczl{ font-family:"宋体"; font-size:14px; color:#0379d5; border-bottom:1px solid #0379d5; line-height:20px;}
.scp_weight{ font-family:"宋体"; font-weight:700;}

.dialog_wdkb{ width:734px; height:auto;}
.dialog_wdkb_mar{width:734px; height:auto; padding-top:40px; padding-bottom: 30px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#fff; border:1px solid #e5e5e5; border-radius:5px 5px 5px 5px; border:1px solid #fb9442; display:block;  margin:0 0 0 129px;}
.dialog_wdkb_bt{ width:670px; margin:0 auto;}
.dialog_wdkb_bt td{ text-align:center; font-size:14px; color:#5a5a5a;}
.dialog_wdkb_nr{ width:670px; margin:0 auto; border-right:1px solid #dadbdd; border-top:1px solid #dadbdd;}
.dialog_wdkb_nr td{ text-align:center; font-size:14px; color:#5a5a5a; border-bottom:1px solid #dadbdd; border-left:1px solid #dadbdd;}
.dialog_wdkb_mar_fh{ width:670px; height:25px; margin:0 auto; padding-top:10px;}
.dialog_wdkb_mar_fh a{ width:65px; height:25px; line-height:25px; color:#FFF; background:#fa7f00; float:right; display:block; text-align:center;}
.dialog_wdkb_two{ width:734px; height:auto;}
.dialog_wdkb_mar_two{width:734px; padding-top:30px; padding-bottom:20px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#fff; border:1px solid #e5e5e5; border-radius:5px 5px 5px 5px; border:1px solid #fb9442; display:block; margin:100px 0 0 129px;}
#yq_xxk_kb{ width:704px; overflow:hidden; margin:0 auto 30px;  }
#yq_xxk_kb ul{ width:704px; height:40px; display:block;  border:1px solid #dadbdd; border-top:none;}
#yq_xxk_kb li{ float:left; width:184px; height:40px; line-height:40px; text-align:center; cursor:pointer; background:#eeeeee; font-size:16px; color:#5a5a5a; border-top:1px solid #dadbdd; border-bottom:1px solid #dadbdd; }
#yq_xxk_kb li.current{ text-decoration:none; background:#FFF; border-bottom:1px solid #FFF;}
.xxk_kb{border-right:1px solid #dadbdd;}
.tab_top{ width:704px; margin:0 auto; border-bottom:1px solid #dadbdd;}
.tab_top_two{ width:704px; margin:0 auto; border:none;}
.tab_top table{ margin-bottom:10px; text-align:center; color:#5a5a5a; font-size:14px;}
.ipt_list{ width:704px; margin:0 auto;  border-bottom:1px solid #dadbdd; padding:20px 0 20px 0;}
.ipt_list table td{ text-align:right; color:#5a5a5a; font-size:14px;}
.ipt_list_shu{ padding:4px 2px; width:220px; border:1px solid #cccccc; outline: none; font-size:12px; color:#5a5a5a;}
.dialog_wdkb_mar_fh2{ width:665px; height:25px; margin:0 auto; padding-top:15px;}
.dialog_wdkb_mar_fh2 a{ width:65px; height:25px; line-height:25px; color:#FFF; background:#fa7f00; float:right; display:block; text-align:center;}
.tab_jy_two{ width:668px; margin:0 auto; border-bottom:1px solid #dadbdd; border-left:1px solid #dadbdd;}
.tab_jy_two td{ border-top:1px solid #dadbdd; border-right:1px solid #dadbdd; color:#5a5a5a; font-size:14px;}

/*个人信息*/
.personal{ margin-bottom:41px;}
.personal h2{ height:38px; display:block; line-height:24px; font-size:18px; font-weight:700; color:#5a5a5a;}
.personal_tit{ height:181px;}
.personal_tit_left{ width:147px; height:181px; position:relative; float:left;}
.personal_tit_left span{ display:block; width:19px; height:21px; display:block; display:block; position:absolute; right:2px; bottom:3px; cursor:pointer;}
.personal_tit_right{ width:556px; height:120px; float:right; padding-top:61px;}
.personal_tit_right table{ border-bottom:1px solid #dadbdd; border-top:1px solid #dadbdd; padding:4px 0;}
.personal_tit_right table td{ font-size:16px; color:#454545; padding-left:6px;}
.personal_list{ width:736px;}
.personal_list td{ color:#666666; font-size:14px;}
.personal_mc{ color:#000000;}
.personal_ipt{ width:220px; border:1px solid #cccccc; padding: 4px 2px; background:none; overflow:hidden; color:#000000; font-size:14px; outline:none;}
.personal_ipt_sel{ font-size:12px; width:226px; line-height:14px; color:#909993; padding:5px 0; position:relative; left:0; top:0px; color:#000000; outline:none;}
.personal_ipt_sel_three{font-size:12px; width:183px; line-height:14px; padding:5px 0; position:relative; left:0; top:0px; color:#5a5a5a; outline:none;}
.selcet_box{width:181px; }
.personal_bc{ width:65px; height:25px; line-height:25px; color:#FFF; background:#fa7f00; font-size:14px; text-align:center; display:block; }
.personal_bc2{ width:106px; height:25px; line-height:25px; color:#FFF; background:#fa7f00; font-size:14px; text-align:center; display:block; }
.personal_time{ width:696px; height:70px; background:#eeeeee; padding:12px 20px 0; margin:30px 0;}
.personal_time_list{ width:696px; height:25px; line-height:25px; display:block; margin-bottom:10px;}
.personal_time_left{ float:left;}
.personal_time_left i{ font-style:normal; font-size:14px; color:#010101;}
.personal_time_left a{ font-size:14px; color:#010101; padding:0 6px;}
.personal_time_right{ float:right;}
.personal_time_right_an{ width:45px; height:25px; background:#fa7f00; line-height:25px; font-size:14px; color:#FFF; text-align:center; display:block; float:left; margin:0 2px;}
/*通讯录*/
.address_tit{ width:736px; margin-bottom:25px;}
.address_tit h2{ display:block; height:30px; line-height:20px; border-bottom:2px solid #fa7f00; color:#5a5a5a; font-size:18px; font-weight:700;}
.address_seach_top{ width:736px; text-align:center; margin-bottom:20px; color:#5a5a5a; font-size:14px;}
.address_seach_ss{ color:#5a5a5a; height:25px; overflow:hidden; font-size:14px; margin-bottom:36px;}
.address_seach_ss_an{ width:64px; height:25px; line-height:25px; background:#fa7f00; display:block; color:#FFF; font-size:14px; text-align:center}
.address_ipt{ width:126px; height:25px;	border:1px solid #cccccc; padding:0 2px; background:none; overflow:hidden; color:#000000; font-size:12px; outline:none; color:#5a5a5a;}
.address_ipt_xl{ width:126px; height:25px; padding:0 2px; overflow:hidden; color:#000000; font-size:14px; outline:none; display:block;}
.address_seach_biaog table{ border-left:1px solid #dadbdd; border-top:1px solid #dadbdd;}
.address_seach_biaog table td{ border-right:1px solid #dadbdd; border-bottom:1px solid #dadbdd; text-align:center; font-size:12px; color:#5a5a5a; padding:5px 0;}
.password_change{ width:450px; margin:0 auto; color:#5a5a5a; font-size:16px;  padding-top:30px;}
.password_change_ts{ color:#a3a3a3; font-size:12px;}
.password_tab_ipt1{ width:220px; border:1px solid #cccccc; padding: 4px 2px; background:none; overflow:hidden; color:#000000; font-size:14px; outline:none;}
.password_yzm_box{ width:226px; height:36px;  padding-top:6px;}
.password_yzm{ width:102px; padding: 4px 2px; border:1px solid #cccccc; font-size:14px; color:#5a5a5a; float:left; display:inline;outline:none;}
.password_yzmtp{ margin-left:10px;  float:left; display:inline;}
/*1*/
.select{position:relative;}
.select dt{width:126px; height:25px; padding:0 2px; display:inline-block; border:1px solid #cccccc; background:#fcfcfb url(../images/ico.gif) no-repeat 110px center; line-height:25px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:relative; z-index:99; color:#5a5a5a; font-size:12px;}
.select dt:hover,.select dt.cur{border:1px solid #fa7f00;box-shadow:0 0 3px #fa7f00;}
.select dd{position:absolute; left:0; top:26px; border:1px solid #cccccc ;background:#fff; display:none;}
.select dd ul{ width:126px; padding:0 2px; max-height:250px; overflow:auto;}
.select dd ul li a{line-height:25px; display:block;}
.select dd ul li a:hover{background:#f5f5f5;}
/*2*/
.select_two{position:relative;}
.select_two dt{width:220px; height:25px; padding:0 2px; display:inline-block; border:1px solid #cccccc; background:#fcfcfb url(../images/ico.gif) no-repeat 209px center; line-height:25px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:relative; z-index:99; color:#000000; font-size:12px;}
.select_two dt:hover,.select_two dt.cur{border:1px solid #fa7f00;box-shadow:0 0 3px #fa7f00;}
.select_two dd{position:absolute; left:0; top:26px; border:1px solid #cccccc ;background:#fff; display:none; z-index:919;}
.select_two dd ul{ width:220px; padding:0 2px; max-height:250px; overflow:auto;}
.select_two dd ul li a{line-height:25px; display:block;}
.select_two dd ul li a:hover{background:#f5f5f5;}
/*3*/
.select_three{position:relative;}
.select_three dt{width:116px; height:21px; padding:0 0 0 18px; display:inline-block; border:1px solid #cccccc; background:#f2f2f2 url(../images/ico.gif) no-repeat 114px center; line-height:21px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:relative; z-index:99; color:#5a5a5a; font-size:12px;}
.select_three dt:hover,.select_two dt.cur{border:1px solid #fa7f00;box-shadow:0 0 3px #fa7f00;}
.select_three dd{position:absolute; left:0; top:23px; border:1px solid #cccccc ;background:#fff; display:none; z-index:919;}
.select_three dd ul{ width:116px; max-height:250px; overflow:auto;}
.select_three dd ul li a{line-height:21px; display:block; padding:0 0 0 18px;}
.select_three dd ul li a:hover{background:#f5f5f5;}





